xsd/epub-test/ocf-metadata-30/datatypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:metadata="http://www.idpf.org/2013/metadata" xmlns:epub="http://www.idpf.org/2007/ops">
  <xs:import namespace="http://www.idpf.org/2007/opf" schemaLocation="opf.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub-prefix-attr.xsd"/>
  <xs:import namespace="http://www.idpf.org/2013/metadata" schemaLocation="ocf-metadata-30.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:simpleType name="datatype.ID">
    <xs:restriction base="dc:datatype.ID.lexical"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.IDREF">
    <xs:restriction base="dc:datatype.IDREF.lexical"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.IDREFS">
    <xs:restriction base="dc:datatype.IDREFS.lexical"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.languagecode">
    <xs:restriction base="dc:datatype.BCP47"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#language -->
  <xs:simpleType name="datatype.BCP47">
    <xs:restriction base="xs:language"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#ID  -->
  <xs:simpleType name="datatype.ID.xsd">
    <xs:restriction base="xs:ID"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#NCName -->
  <xs:simpleType name="datatype.IDREF.lexical">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.IDREFS.lexical">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="dc:datatype.IDREF.lexical"/>
      </xs:simpleType>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.ID.lexical">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#IDREF -->
  <xs:simpleType name="datatype.IDREF.xsd">
    <xs:restriction base="xs:IDREF"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#IDREFS -->
  <xs:simpleType name="datatype.IDREFS.xsd">
    <xs:restriction base="xs:IDREFS"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#NMTOKEN -->
  <xs:simpleType name="datatype.NMTOKEN">
    <xs:restriction base="xs:NMTOKEN"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#NMTOKENS  -->
  <xs:simpleType name="datatype.NMTOKENS">
    <xs:restriction base="xs:NMTOKENS"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#string -->
  <xs:simpleType name="datatype.string">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.string.nonempty">
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#nt-dateRep -->
  <xs:simpleType name="datatype.date">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#nt-dateTimeRep -->
  <xs:simpleType name="datatype.dateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#nt-timeRep -->
  <xs:simpleType name="datatype.date.or.dateTime">
    <xs:union memberTypes="dc:datatype.date dc:datatype.dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.LEIRI">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <!--
    http://www.w3.org/TR/xmlschema11-2/#anyURI
    http://tools.ietf.org/html/rfc3986#appendix-B
    http://www.w3.org/TR/html5/urls.html#valid-url-potentially-surrounded-by-spaces  
  -->
  <xs:simpleType name="datatype.URI">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.URI.absolute">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.IRI">
    <xs:restriction base="dc:datatype.URI"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.character.encoding">
    <xs:restriction base="dc:datatype.iana.charset"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.iana.charset">
    <xs:restriction base="xs:NMTOKEN"/>
  </xs:simpleType>
  <!--
    http://www.w3.org/TR/html5/infrastructure.html#valid-mime-type
    http://tools.ietf.org/html/rfc4288#section-4.2
    http://tools.ietf.org/html/rfc2616#section-3.7
  -->
  <xs:simpleType name="datatype.mimetype">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9!#$&amp;+\-\^_]+/[a-zA-Z0-9!#$&amp;+\-\^_]+.*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.mimetype.nocharset">
    <xs:restriction base="dc:datatype.mimetype"/>
  </xs:simpleType>
  <!--
    http://www.w3.org/TR/xmlschema11-2/#nonNegativeInteger
    http://www.w3.org/TR/html5/common-microsyntaxes.html#non-negative-integers
  -->
  <xs:simpleType name="datatype.non-negative.integer">
    <xs:restriction base="xs:nonNegativeInteger"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#positiveInteger -->
  <xs:simpleType name="datatype.positive.integer">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/xmlschema11-2/#integer  -->
  <xs:simpleType name="datatype.integer">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <!--
    http://www.w3.org/TR/xmlschema11-2/#nt-floatRep
    http://www.w3.org/TR/html5/common-microsyntaxes.html#real-numbers
  -->
  <xs:simpleType name="datatype.float">
    <xs:restriction base="xs:float"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.float.positive">
    <xs:restriction base="xs:float">
      <xs:minExclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.float.non-negative">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.token">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^\s]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.space.separated.tokens">
    <xs:list itemType="dc:datatype.token"/>
  </xs:simpleType>
  <!--
    http://www.w3.org/TR/smil/smil-timing.html#TimingSyntax-Full-clock-value
    http://www.w3.org/TR/smil/smil-timing.html#TimingSyntax-Partial-clock-value
    http://www.w3.org/TR/smil/smil-timing.html#TimingSyntax-Timecount-value
  -->
  <xs:simpleType name="datatype.smil.npt">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(\s*)[0-9]+:[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(\s*)"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(\s*)[0-5][0-9]:[0-5][0-9](\.[0-9]+)?(\s*)"/>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="(\s*)[0-9]+(\.[0-9]+)?(h|min|s|ms)?(\s*)"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="datatype.property">
    <xs:restriction base="xs:NMTOKEN"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.properties">
    <xs:restriction base="xs:NMTOKENS"/>
  </xs:simpleType>
  <!-- \s*([\i-[:]][\c-[:]]*: +[^ ]+)(\s+[\i-[:]][\c-[:]]*: +[^ ]+)*\s* -->
  <!-- http://www.w3.org/TR/speech-synthesis11/#edef_phoneme -->
  <xs:simpleType name="datatype.ssml.PhoneticExpression">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.ssml.PhoneticAlphabet">
    <xs:restriction base="xs:string">
      <xs:pattern value="(ipa|x-.+)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.browsing.context.name.or.keyword">
    <xs:restriction base="xs:string">
      <xs:pattern value="()|([^_].*)|(_[bB][lL][aA][nN][kK])|(_[sS][eE][lL][fF])|(_[pP][aA][rR][eE][nN][tT])|(_[tT][oO][pP])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.browsing.context.name">
    <xs:restriction base="xs:string">
      <xs:pattern value="()|([^_].*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.token">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^\s]+"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#space-separated-tokens -->
  <xs:simpleType name="datatype.html5.space.separated.tokens">
    <xs:list itemType="dc:datatype.html5.token"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.ordered.set.unique.tokens">
    <xs:restriction base="dc:datatype.html5.space.separated.tokens"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.URL.spaces">
    <xs:restriction base="dc:datatype.URI"/>
  </xs:simpleType>
  <!--
    http://dev.w3.org/csswg/css3-mediaqueries/#syntax
    http://www.w3.org/TR/html5/common-microsyntaxes.html#mq
  -->
  <xs:simpleType name="datatype.html5.media.query">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.name">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.name.reference">
    <xs:restriction base="xs:string">
      <xs:pattern value="#.+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.year">
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.yearless">
    <xs:restriction base="xs:token">
      <xs:pattern value="(--)?(0[0-9]|1[0-2])-(0[0-9]|[1-2][0-9]|3[0-1])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.duration">
    <xs:restriction base="xs:token">
      <xs:pattern value="(((P[0-9]+D)|(P([0-9]+D)?T((([0-9]+H)([0-9]+M)?([0-9]+(\.[0-9]{1,3})?S)?)|(([0-9]+H)?([0-9]+M)([0-9]+(\.[0-9]{1,3})?S)?)|(([0-9]+H)?([0-9]+M)?([0-9]+(\.[0-9]{1,3})?S)))))|( *(([0-9]+ *[WDHM])|([0-9]+(\.[0-9]{1,3})? *S)) *)+)"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#months -->
  <xs:simpleType name="datatype.html5.month">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]{4,})-([0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#dates -->
  <xs:simpleType name="datatype.html5.date">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]{4,})-([0-9]{2})-([0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#times -->
  <xs:simpleType name="datatype.html5.time">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]{2}):([0-9]{2})(:[0-9]{2}(\.[0-9]{1,3})?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#local-dates-and-times -->
  <xs:simpleType name="datatype.html5.datetime.local">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]{4,})-([0-9]{2})-([0-9]{2})([T ])([0-9]{2}):([0-9]{2})(:[0-9]{2}(\.[0-9]{1,3})?)?"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#global-dates-and-times -->
  <xs:simpleType name="datatype.html5.datetime.global">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]{4,})-([0-9]{2})-([0-9]{2})([T ])([0-9]{2}):([0-9]{2})(:[0-9]{2}(\.[0-9]{1,3})?)?(Z|((\+|-)([0-9]{2}):?([0-9]{2})))?"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.datetime">
    <xs:restriction base="dc:datatype.html5.datetime.global"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#vaguer-moments-in-time -->
  <xs:simpleType name="datatype.html5.date.or.time">
    <xs:union memberTypes="dc:datatype.html5.year dc:datatype.html5.yearless dc:datatype.html5.week dc:datatype.html5.date dc:datatype.html5.month dc:datatype.html5.time dc:datatype.html5.datetime.global dc:datatype.html5.duration"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#vaguer-moments-in-time -->
  <xs:simpleType name="datatype.html5.date.optional.time">
    <xs:union memberTypes="dc:datatype.html5.date dc:datatype.html5.datetime.global"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.week">
    <xs:restriction base="xs:token">
      <xs:pattern value="([0-9]{4,})-W([0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.accesskey">
    <xs:restriction base="dc:datatype.html5.ordered.set.unique.tokens"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.coords.rectangle">
    <xs:restriction base="xs:token">
      <xs:pattern value="-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.coords.circle">
    <xs:restriction base="xs:token">
      <xs:pattern value="-?[0-9]+,-?[0-9]+,[0-9]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.coords.poly">
    <xs:restriction base="xs:token">
      <xs:pattern value="-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+,-?[0-9]+(,-?[0-9]+,-?[0-9]+)*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.js">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.script">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.script.documentation">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.iframe.srcdoc.xml">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.style">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.sizes">
    <xs:restriction>
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[1-9][0-9]*x[1-9][0-9]*"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.emailaddress">
    <xs:restriction base="xs:string">
      <xs:pattern value="[^@]+@[^@]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.emailaddresslist">
    <xs:restriction base="xs:string">
      <xs:pattern value="([^@]+@[^@]+,)*([^@]+@[^@]+)"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/common-microsyntaxes.html#colors -->
  <xs:simpleType name="datatype.html5.color">
    <xs:restriction base="xs:string">
      <xs:pattern value="#([A-Fa-f0-9]{6})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.forms.mimetypelist">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <!-- http://www.w3.org/TR/html5/forms.html#attr-form-accept-charset -->
  <xs:simpleType name="datatype.html5.forms.charsetlist">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="dc:datatype.character.encoding"/>
      </xs:simpleType>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.forms.pattern">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="datatype.html5.forms.string.nolinebreaks">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
</xs:schema>
