xsd/epub-test/epub-nav-30/tables.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="local.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:attributeGroup name="tables.attrs.alignment">
    <xs:annotation>
      <xs:documentation> RELAX NG Schema for HTML 5: Tables                                #</xs:documentation>
    </xs:annotation>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="char"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="char">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="."/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="valign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="top"/>
          <xs:enumeration value="middle"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="baseline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.align">
    <xs:attribute name="align" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="justify"/>
          <xs:enumeration value="char"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.char">
    <xs:attribute name="char" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="."/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.valign">
    <xs:attribute name="valign" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="top"/>
          <xs:enumeration value="middle"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="baseline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="table">
    <xs:complexType>
      <xs:group ref="xhtml:table.inner"/>
      <xs:attributeGroup ref="xhtml:table.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="table.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.table"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-activedescendant" type="common.data.idref"/>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
    <xs:attribute name="border">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value=""/>
          <xs:enumeration value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="table.inner">
    <xs:sequence>
      <xs:element minOccurs="0" ref="xhtml:caption"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="common.elem.script-supporting"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:colgroup"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="common.elem.script-supporting"/>
      <xs:element minOccurs="0" ref="xhtml:thead"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="common.elem.script-supporting"/>
      <xs:sequence>
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:tbody"/>
          <xs:element maxOccurs="unbounded" ref="xhtml:tr"/>
        </xs:choice>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="common.elem.script-supporting"/>
        <xs:element minOccurs="0" ref="xhtml:tfoot"/>
      </xs:sequence>
    </xs:sequence>
  </xs:group>
  <xs:element name="caption">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:caption.inner">
          <xs:attributeGroup ref="xhtml:caption.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="caption.attrs">
    <xs:attributeGroup ref="common.attrs"/>
  </xs:attributeGroup>
  <xs:complexType name="caption.inner" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
  <!-- ##################################################################### -->
  <xs:element name="colgroup">
    <xs:complexType>
      <xs:group ref="xhtml:colgroup.inner"/>
      <xs:attributeGroup ref="xhtml:colgroup.inner"/>
      <xs:attributeGroup ref="xhtml:colgroup.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="colgroup.attrs">
    <xs:attributeGroup ref="common.attrs"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="colgroup.attrs.span">
    <xs:attribute name="span" use="required" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:group name="colgroup.inner">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xhtml:col"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="colgroup.inner">
    <xs:attribute name="span" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:element name="col">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:col.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="col.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="span" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="col.attrs.span">
    <xs:attribute name="span" use="required" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:element name="thead">
    <xs:complexType>
      <xs:group ref="xhtml:thead.inner"/>
      <xs:attributeGroup ref="xhtml:thead.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="thead.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.rowgroup"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="thead.inner">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xhtml:tr"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="tfoot">
    <xs:complexType>
      <xs:group ref="xhtml:tfoot.inner"/>
      <xs:attributeGroup ref="xhtml:tfoot.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="tfoot.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.rowgroup"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="tfoot.inner">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xhtml:tr"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="tbody">
    <xs:complexType>
      <xs:group ref="xhtml:tbody.inner"/>
      <xs:attributeGroup ref="xhtml:tbody.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="tbody.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.rowgroup"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="tbody.inner">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xhtml:tr"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <!-- ##################################################################### -->
  <xs:element name="tr">
    <xs:complexType>
      <xs:group ref="xhtml:tr.inner"/>
      <xs:attributeGroup ref="xhtml:tr.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="tr.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.row"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="tr.inner">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xhtml:td"/>
        <xs:element ref="xhtml:th"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="tables.attrs.cell-structure">
    <xs:annotation>
      <xs:documentation>Common Table Cell Attributes</xs:documentation>
    </xs:annotation>
    <xs:attribute name="colspan" type="common.data.integer.positive"/>
    <xs:attribute name="rowspan" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.colspan">
    <xs:attribute name="colspan" use="required" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.rowspan">
    <xs:attribute name="rowspan" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.access-headers">
    <xs:attribute name="headers" type="common.data.idrefs"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.headers">
    <xs:attribute name="headers" use="required" type="common.data.idrefs"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.define-headers">
    <xs:attribute name="scope">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="row"/>
          <xs:enumeration value="col"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="colgroup"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.scope">
    <xs:attribute name="scope" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="row"/>
          <xs:enumeration value="col"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="colgroup"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tables.attrs.abbr">
    <xs:attribute name="abbr" use="required"/>
  </xs:attributeGroup>
  <xs:element name="td">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:td.inner">
          <xs:attributeGroup ref="xhtml:td.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="td.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:tables.attrs.cell-structure"/>
    <xs:attribute name="headers" type="common.data.idrefs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.cell"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-activedescendant" type="common.data.idref"/>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
  </xs:attributeGroup>
  <xs:complexType name="td.inner" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
  <xs:element name="th">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:th.inner">
          <xs:attributeGroup ref="xhtml:th.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="th.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:tables.attrs.cell-structure"/>
    <xs:attribute name="scope">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="row"/>
          <xs:enumeration value="col"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="colgroup"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="headers" type="common.data.idrefs"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:complexType name="th.inner" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
</xs:schema>
