xsd/epub-test/30/epub-xhtml-30/core-scripting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-xhtml-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-xhtml-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:group name="script.elem.embedded">
    <xs:annotation>
      <xs:documentation> RELAX NG Schema for HTML 5: Core Scripting                        #</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="script">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:script.inner.embedded">
              <xs:attributeGroup ref="xhtml:script.attrs.embedded"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="script.attrs.embedded">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:union memberTypes="common.data.scripttype">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="module"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nomodule">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="nomodule"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="language" type="xs:string"/>
    <xs:attribute name="integrity" type="common.data.integrity"/>
    <xs:attribute name="crossorigin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="referrerpolicy">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
          <xs:enumeration value="no-referrer"/>
          <xs:enumeration value="no-referrer-when-downgrade"/>
          <xs:enumeration value="same-origin"/>
          <xs:enumeration value="origin"/>
          <xs:enumeration value="strict-origin"/>
          <xs:enumeration value="origin-when-cross-origin"/>
          <xs:enumeration value="strict-origin-when-cross-origin"/>
          <xs:enumeration value="unsafe-url"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="script.elem.imported">
    <xs:sequence>
      <xs:element name="script">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:script.inner.imported">
              <xs:attributeGroup ref="xhtml:script.attrs.imported"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="script.attrs.imported">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="src" type="common.data.uri.non-empty"/>
    <xs:attribute name="defer">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="defer"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="async">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="async"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="type">
      <xs:simpleType>
        <xs:union memberTypes="common.data.scripttype">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="module"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="nomodule">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="nomodule"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="charset" type="xs:string"/>
    <xs:attribute name="language" type="xs:string"/>
    <xs:attribute name="integrity" type="common.data.integrity"/>
    <xs:attribute name="crossorigin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="referrerpolicy">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
          <xs:enumeration value="no-referrer"/>
          <xs:enumeration value="no-referrer-when-downgrade"/>
          <xs:enumeration value="same-origin"/>
          <xs:enumeration value="origin"/>
          <xs:enumeration value="strict-origin"/>
          <xs:enumeration value="origin-when-cross-origin"/>
          <xs:enumeration value="strict-origin-when-cross-origin"/>
          <xs:enumeration value="unsafe-url"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.defer">
    <xs:attribute name="defer" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="defer"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.async">
    <xs:attribute name="async" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="async"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.scripttype">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="module"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.nomodule">
    <xs:attribute name="nomodule" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="nomodule"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.charset">
    <xs:attribute name="charset" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.language">
    <xs:attribute name="language" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="script.attrs.integrity">
    <xs:attribute name="integrity" use="required" type="common.data.integrity"/>
  </xs:attributeGroup>
  <xs:complexType name="script.inner.embedded">
    <xs:complexContent>
      <xs:extension base="common.inner.anything"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="script.inner.imported">
    <xs:complexContent>
      <xs:extension base="common.inner.anything"/>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="script.elem">
    <xs:choice>
      <xs:group ref="xhtml:script.elem.embedded"/>
      <xs:group ref="xhtml:script.elem.imported"/>
    </xs:choice>
  </xs:group>
  <xs:group name="noscript.inner.head">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="xhtml:link.elem"/>
        <xs:group ref="xhtml:meta.http-equiv.default-style.elem"/>
        <xs:group ref="xhtml:meta.http-equiv.refresh.elem"/>
        <xs:element ref="xhtml:style"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="noscript.inner.phrasing">
    <xs:sequence>
      <xs:group ref="common.inner.phrasing"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="noscript.inner.flow">
    <xs:sequence>
      <xs:group ref="common.inner.flow"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="noscript.attrs">
    <xs:attributeGroup ref="common.attrs"/>
  </xs:attributeGroup>
  <!-- ##################################################################### -->
  <xs:attributeGroup name="common.attrs.scripting">
    <xs:annotation>
      <xs:documentation>Event Handler Attribute Definitions</xs:documentation>
    </xs:annotation>
    <xs:attribute name="onabort" type="common.data.functionbody"/>
    <xs:attribute name="onauxclick" type="common.data.functionbody"/>
    <xs:attribute name="onblur" type="common.data.functionbody"/>
    <xs:attribute name="oncancel" type="common.data.functionbody"/>
    <xs:attribute name="oncanplay" type="common.data.functionbody"/>
    <xs:attribute name="oncanplaythrough" type="common.data.functionbody"/>
    <xs:attribute name="onchange" type="common.data.functionbody"/>
    <xs:attribute name="onclick" type="common.data.functionbody"/>
    <xs:attribute name="onclose" type="common.data.functionbody"/>
    <xs:attribute name="oncontextmenu" type="common.data.functionbody"/>
    <xs:attribute name="oncopy" type="common.data.functionbody"/>
    <xs:attribute name="oncuechange" type="common.data.functionbody"/>
    <xs:attribute name="oncut" type="common.data.functionbody"/>
    <xs:attribute name="ondblclick" type="common.data.functionbody"/>
    <xs:attribute name="ondrag" type="common.data.functionbody"/>
    <xs:attribute name="ondragend" type="common.data.functionbody"/>
    <xs:attribute name="ondragenter" type="common.data.functionbody"/>
    <xs:attribute name="ondragleave" type="common.data.functionbody"/>
    <xs:attribute name="ondragover" type="common.data.functionbody"/>
    <xs:attribute name="ondragstart" type="common.data.functionbody"/>
    <xs:attribute name="ondrop" type="common.data.functionbody"/>
    <xs:attribute name="ondurationchange" type="common.data.functionbody"/>
    <xs:attribute name="onemptied" type="common.data.functionbody"/>
    <xs:attribute name="onended" type="common.data.functionbody"/>
    <xs:attribute name="onerror" type="common.data.functionbody"/>
    <xs:attribute name="onfocus" type="common.data.functionbody"/>
    <xs:attribute name="onfocusin" type="common.data.functionbody"/>
    <xs:attribute name="onfocusout" type="common.data.functionbody"/>
    <xs:attribute name="onformdata" type="common.data.functionbody"/>
    <xs:attribute name="oninput" type="common.data.functionbody"/>
    <xs:attribute name="oninvalid" type="common.data.functionbody"/>
    <xs:attribute name="onkeydown" type="common.data.functionbody"/>
    <xs:attribute name="onkeypress" type="common.data.functionbody"/>
    <xs:attribute name="onkeyup" type="common.data.functionbody"/>
    <xs:attribute name="onload" type="common.data.functionbody"/>
    <xs:attribute name="onloadeddata" type="common.data.functionbody"/>
    <xs:attribute name="onloadedmetadata" type="common.data.functionbody"/>
    <xs:attribute name="onloadstart" type="common.data.functionbody"/>
    <xs:attribute name="onmousedown" type="common.data.functionbody"/>
    <xs:attribute name="onmouseenter" type="common.data.functionbody"/>
    <xs:attribute name="onmouseleave" type="common.data.functionbody"/>
    <xs:attribute name="onmousemove" type="common.data.functionbody"/>
    <xs:attribute name="onmouseout" type="common.data.functionbody"/>
    <xs:attribute name="onmouseover" type="common.data.functionbody"/>
    <xs:attribute name="onmouseup" type="common.data.functionbody"/>
    <xs:attribute name="onpaste" type="common.data.functionbody"/>
    <xs:attribute name="onpause" type="common.data.functionbody"/>
    <xs:attribute name="onplay" type="common.data.functionbody"/>
    <xs:attribute name="onplaying" type="common.data.functionbody"/>
    <xs:attribute name="onprogress" type="common.data.functionbody"/>
    <xs:attribute name="onratechange" type="common.data.functionbody"/>
    <xs:attribute name="onreset" type="common.data.functionbody"/>
    <xs:attribute name="onresize" type="common.data.functionbody"/>
    <xs:attribute name="onscroll" type="common.data.functionbody"/>
    <xs:attribute name="onsecuritypolicyviolation" type="common.data.functionbody"/>
    <xs:attribute name="onseeked" type="common.data.functionbody"/>
    <xs:attribute name="onseeking" type="common.data.functionbody"/>
    <xs:attribute name="onselect" type="common.data.functionbody"/>
    <xs:attribute name="onslotchange" type="common.data.functionbody"/>
    <xs:attribute name="onstalled" type="common.data.functionbody"/>
    <xs:attribute name="onsubmit" type="common.data.functionbody"/>
    <xs:attribute name="onsuspend" type="common.data.functionbody"/>
    <xs:attribute name="ontimeupdate" type="common.data.functionbody"/>
    <xs:attribute name="ontoggle" type="common.data.functionbody"/>
    <xs:attribute name="ontransitioncancel" type="common.data.functionbody"/>
    <xs:attribute name="ontransitionend" type="common.data.functionbody"/>
    <xs:attribute name="ontransitionrun" type="common.data.functionbody"/>
    <xs:attribute name="ontransitionstart" type="common.data.functionbody"/>
    <xs:attribute name="onvolumechange" type="common.data.functionbody"/>
    <xs:attribute name="onwaiting" type="common.data.functionbody"/>
    <xs:attribute name="onwheel" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onabort">
    <xs:attribute name="onabort" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onauxclick">
    <xs:attribute name="onauxclick" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onblur">
    <xs:attribute name="onblur" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncanplay">
    <xs:attribute name="oncanplay" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncancel">
    <xs:attribute name="oncancel" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncanplaythrough">
    <xs:attribute name="oncanplaythrough" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onchange">
    <xs:attribute name="onchange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onclick">
    <xs:attribute name="onclick" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onclose">
    <xs:attribute name="onclose" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncontextmenu">
    <xs:attribute name="oncontextmenu" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncopy">
    <xs:attribute name="oncopy" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncuechange">
    <xs:attribute name="oncuechange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oncut">
    <xs:attribute name="oncut" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondblclick">
    <xs:attribute name="ondblclick" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondrag">
    <xs:attribute name="ondrag" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondragend">
    <xs:attribute name="ondragend" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondragenter">
    <xs:attribute name="ondragenter" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondragleave">
    <xs:attribute name="ondragleave" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondragover">
    <xs:attribute name="ondragover" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondragstart">
    <xs:attribute name="ondragstart" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondrop">
    <xs:attribute name="ondrop" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ondurationchange">
    <xs:attribute name="ondurationchange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onemptied">
    <xs:attribute name="onemptied" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onended">
    <xs:attribute name="onended" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onerror">
    <xs:attribute name="onerror" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onfocus">
    <xs:attribute name="onfocus" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onfocusin">
    <xs:attribute name="onfocusin" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onfocusout">
    <xs:attribute name="onfocusout" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onformchange">
    <xs:attribute name="onformchange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onformdata">
    <xs:attribute name="onformdata" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onforminput">
    <xs:attribute name="onforminput" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oninput">
    <xs:attribute name="oninput" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.oninvalid">
    <xs:attribute name="oninvalid" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onkeydown">
    <xs:attribute name="onkeydown" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onkeypress">
    <xs:attribute name="onkeypress" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onkeyup">
    <xs:attribute name="onkeyup" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onload">
    <xs:attribute name="onload" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onloadeddata">
    <xs:attribute name="onloadeddata" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onloadedmetadata">
    <xs:attribute name="onloadedmetadata" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onloadstart">
    <xs:attribute name="onloadstart" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmousedown">
    <xs:attribute name="onmousedown" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmouseenter">
    <xs:attribute name="onmouseenter" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmouseleave">
    <xs:attribute name="onmouseleave" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmousemove">
    <xs:attribute name="onmousemove" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmouseout">
    <xs:attribute name="onmouseout" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmouseover">
    <xs:attribute name="onmouseover" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onmouseup">
    <xs:attribute name="onmouseup" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onwheel">
    <xs:attribute name="onwheel" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onpaste">
    <xs:attribute name="onpaste" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onpause">
    <xs:attribute name="onpause" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onplay">
    <xs:attribute name="onplay" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onplaying">
    <xs:attribute name="onplaying" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onprogress">
    <xs:attribute name="onprogress" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onratechange">
    <xs:attribute name="onratechange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onreset">
    <xs:attribute name="onreset" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onresize">
    <xs:attribute name="onresize" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onscroll">
    <xs:attribute name="onscroll" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onsecuritypolicyviolation">
    <xs:attribute name="onsecuritypolicyviolation" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onseeked">
    <xs:attribute name="onseeked" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onseeking">
    <xs:attribute name="onseeking" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onselect">
    <xs:attribute name="onselect" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onslotchange">
    <xs:attribute name="onslotchange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onstalled">
    <xs:attribute name="onstalled" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onsubmit">
    <xs:attribute name="onsubmit" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onsuspend">
    <xs:attribute name="onsuspend" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ontimeupdate">
    <xs:attribute name="ontimeupdate" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ontoggle">
    <xs:attribute name="ontoggle" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ontransitioncancel">
    <xs:attribute name="ontransitioncancel" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ontransitionend">
    <xs:attribute name="ontransitionend" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ontransitionrun">
    <xs:attribute name="ontransitionrun" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.ontransitionstart">
    <xs:attribute name="ontransitionstart" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onvolumechange">
    <xs:attribute name="onvolumechange" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="scripting.attr.onwaiting">
    <xs:attribute name="onwaiting" use="required" type="common.data.functionbody"/>
  </xs:attributeGroup>
</xs:schema>
<!--
  	scripting.attr.common =
  		(	scripting.attr.mouse
  		&	scripting.attr.keyboard
  		&	scripting.attr.focus
  		)
  	
  	scripting.attr.mouse =
  		(	scripting.attr.mouse.click?
  		&	scripting.attr.mouse.dblclick?
  		&	scripting.attr.mouse.down?
  		&	scripting.attr.mouse.up?
  		&	scripting.attr.mouse.over?
  		&	scripting.attr.mouse.move?
  		&	scripting.attr.mouse.out?
  		)
  		scripting.attr.mouse.click =
  			attribute onclick { string }
  		scripting.attr.mouse.dblclick =
  			attribute ondblclick { string }
  		scripting.attr.mouse.down =
  			attribute onmousedown { string }
  		scripting.attr.mouse.up =
  			attribute onmouseup { string }
  		scripting.attr.mouse.over =
  			attribute onmouseover { string }
  		scripting.attr.mouse.move =
  			attribute onmousemove { string }
  		scripting.attr.mouse.out =
  			attribute onmouseout { string }
  	
  	scripting.attr.keyboard =
  		(	scripting.attr.keyboard.press?
  		&	scripting.attr.keyboard.down?
  		&	scripting.attr.keyboard.up?
  		)
  		scripting.attr.keyboard.press =
  			attribute onkeypress { string }
  		scripting.attr.keyboard.down =
  			attribute onkeydown { string }
  		scripting.attr.keyboard.up =
  			attribute onkeyup { string }
  	
  	
  	scripting.attr.focus =
  		(	scripting.attr.focus.gain?
  		&	scripting.attr.focus.lose?
  		)
  		scripting.attr.focus.gain =
  			attribute onfocus { string }
  		scripting.attr.focus.lose =
  			attribute onblur { string }
  	
  	scripting.attr.loading =
  		(	scripting.attr.loading.load?
  		&	scripting.attr.loading.unload?
  		)
  		scripting.attr.loading.load =
  			attribute onload { string }
  		scripting.attr.loading.unload =
  			attribute onunload { string }
-->
<!--
  #####################################################################
  Event Handler Attribute Assignments
-->
<!-- 	body.attrs   &= scripting.attr.loading -->
