xsd/epub-test/30/epub-xhtml-30/mathml3-common.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This is the Mathematical Markup Language (MathML) 3.0, an XML
      application for describing mathematical notation and capturing
      both its structure and content.
  
      With additional changes for integration into the validator.nu
      service.
  
      With additional changes for integration into EPUBCheck. 
  
      Copyright 1998-2010 W3C (MIT, ERCIM, Keio)
      Copyright 2012 Mozilla Foundation
      Copyright 2014-2019 W3C (MIT, ERCIM, Keio, Beihang)
  
      Use and distribution of this code are permitted under the terms
      W3C Software Notice and License
      http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-xhtml-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="epub-xhtml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="math" substitutionGroup="mathml:annotation-xml.model.mathml"/>
  <xs:attributeGroup name="CommonDeprecatedAtt">
    <xs:attribute name="other"/>
  </xs:attributeGroup>
  <!-- changed datatype of id attr from ID to non-empty string -->
  <xs:attributeGroup name="CommonAtt">
    <xs:attribute name="id">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="[^\s]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="xref"/>
    <xs:attribute name="class" type="xs:NMTOKENS"/>
    <xs:attribute name="style" type="xs:string"/>
    <xs:attribute name="href" type="xs:anyURI"/>
    <xs:attributeGroup ref="mathml:CommonDeprecatedAtt"/>
    <xs:attributeGroup ref="mathml:NonMathMLAtt"/>
    <xs:attribute ref="ssml:ph"/>
    <xs:attributeGroup ref="xml:base"/>
  </xs:attributeGroup>
  <!--
    the mathml3-presentation schema  adds additional attributes
    to the math element, all those valid on mstyle
  -->
  <xs:attributeGroup name="math.deprecatedattributes">
    <xs:attribute name="mode" type="xs:string"/>
    <xs:attribute name="macros" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="name">
    <xs:attribute name="name" use="required" type="xs:NCName"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="cd">
    <xs:attribute name="cd" use="required" type="xs:NCName"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="src">
    <xs:attribute name="src" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:element name="annotation">
    <xs:complexType mixed="true">
      <xs:attributeGroup ref="mathml:annotation.attributes"/>
    </xs:complexType>
  </xs:element>
  <!-- changed content model of annotation-xml -- mike -->
  <xs:group name="annotation-xml.model">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:anyElement"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:group name="anyElement">
    <xs:choice>
      <xs:any namespace="##other" processContents="skip"/>
      <xs:any namespace="##local" processContents="skip"/>
    </xs:choice>
  </xs:group>
  <xs:group name="annotation-xml.xhtml">
    <xs:sequence>
      <xs:element name="annotation-xml">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="mathml:annotation-xml.model.xhtml">
              <xs:attributeGroup ref="mathml:annotation-xml.attributes"/>
              <xs:attribute name="encoding">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="application/xhtml+xml"/>
                    <xs:enumeration value="text/html"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="annotation-xml.model.xhtml" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
  <xs:attributeGroup name="att-encoding.xhtml">
    <xs:attribute name="encoding" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="application/xhtml+xml"/>
          <xs:enumeration value="text/html"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="annotation-xml.svg">
    <xs:sequence>
      <xs:element name="annotation-xml">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="mathml:annotation-xml.model.svg">
              <xs:attributeGroup ref="mathml:annotation-xml.attributes"/>
              <xs:attribute name="encoding">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="SVG1.1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="annotation-xml.model.svg" abstract="true">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.svg.content">
          <xs:attributeGroup ref="svg:attlist.svg"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="annotation-xml.model.svg">
    <xs:sequence>
      <xs:element ref="mathml:annotation-xml.model.svg"/>
    </xs:sequence>
  </xs:complexType>
  <xs:attributeGroup name="att-encoding.svg">
    <xs:attribute name="encoding" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="SVG1.1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="annotation-xml.mathml">
    <xs:sequence>
      <xs:element name="annotation-xml">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="mathml:annotation-xml.model.mathml">
              <xs:attributeGroup ref="mathml:annotation-xml.attributes"/>
              <xs:attribute name="encoding">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="MathML"/>
                    <xs:enumeration value="MathML-Content"/>
                    <xs:enumeration value="MathML-Presentation"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:element name="annotation-xml.model.mathml" abstract="true">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MathExpression"/>
      <xs:attributeGroup ref="mathml:math.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="annotation-xml.model.mathml">
    <xs:sequence>
      <xs:element ref="mathml:annotation-xml.model.mathml"/>
    </xs:sequence>
  </xs:complexType>
  <xs:attributeGroup name="att-encoding.mathml">
    <xs:attribute name="encoding" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="MathML"/>
          <xs:enumeration value="MathML-Content"/>
          <xs:enumeration value="MathML-Presentation"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="annotation.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attribute name="cd" type="xs:NCName"/>
    <xs:attribute name="name" type="xs:NCName"/>
    <xs:attributeGroup ref="mathml:DefEncAtt"/>
    <xs:attributeGroup ref="mathml:src"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="annotation-xml.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attribute name="cd" type="xs:NCName"/>
    <xs:attribute name="name" type="xs:NCName"/>
    <xs:attributeGroup ref="mathml:src"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="DefEncAtt">
    <xs:attribute name="encoding" type="xs:string"/>
    <xs:attribute name="definitionURL" type="xs:anyURI"/>
  </xs:attributeGroup>
  <xs:group name="semantics">
    <xs:sequence>
      <xs:element name="semantics">
        <xs:complexType>
          <xs:sequence>
            <xs:group ref="mathml:MathExpression"/>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="mathml:annotation"/>
              <xs:group ref="mathml:annotation-xml"/>
            </xs:choice>
          </xs:sequence>
          <xs:attributeGroup ref="mathml:semantics.attributes"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="semantics.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:DefEncAtt"/>
    <xs:attribute name="cd" type="xs:NCName"/>
    <xs:attribute name="name" type="xs:NCName"/>
  </xs:attributeGroup>
  <xs:simpleType name="length">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*((-?[0-9]*([0-9]\.?|\.[0-9])[0-9]*(e[mx]|in|cm|mm|p[xtc]|%)?)|(negative)?((very){0,2}thi(n|ck)|medium)mathspace)\s*"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
