xsd/epub-test/30/epub-nav-30/mathml3-presentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
      This is the Mathematical Markup Language (MathML) 3.0, an XML
      application for describing mathematical notation and capturing
      both its structure and content.
  
      With additional changes for integration into the validator.nu
      service.
  
      Copyright 1998-2010 W3C (MIT, ERCIM, Keio)
      Copyright 2012 Mozilla Foundation
      Copyright 2014-2019 W3C (MIT, ERCIM, Keio, Beihang)
  
      Use and distribution of this code are permitted under the terms
      W3C Software Notice and License
      http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1998/Math/MathML" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="local.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="epub-nav-30.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:complexType name="ImpliedMrow">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MathExpression"/>
  </xs:complexType>
  <xs:element name="TableRowExpression" abstract="true"/>
  <xs:element name="TableCellExpression" abstract="true">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:mtd.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="MstackExpression">
    <xs:choice>
      <xs:group ref="mathml:MathExpression"/>
      <xs:element ref="mathml:mscarries"/>
      <xs:element ref="mathml:msline"/>
      <xs:element ref="mathml:msrow"/>
      <xs:element ref="mathml:msgroup"/>
    </xs:choice>
  </xs:group>
  <xs:group name="MsrowExpression">
    <xs:choice>
      <xs:group ref="mathml:MathExpression"/>
      <xs:element ref="mathml:none"/>
    </xs:choice>
  </xs:group>
  <xs:group name="MultiScriptExpression">
    <xs:sequence>
      <xs:choice>
        <xs:group ref="mathml:MathExpression"/>
        <xs:element ref="mathml:none"/>
      </xs:choice>
      <xs:choice>
        <xs:group ref="mathml:MathExpression"/>
        <xs:element ref="mathml:none"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:simpleType name="mpadded-length">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*([\+\-]?[0-9]*([0-9]\.?|\.[0-9])[0-9]*\s*((%?\s*(height|depth|width)?)|e[mx]|in|cm|mm|p[xtc]|((negative)?((very){0,2}thi(n|ck)|medium)mathspace))?)\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="linestyle">
    <xs:restriction base="xs:token">
      <xs:enumeration value="none"/>
      <xs:enumeration value="solid"/>
      <xs:enumeration value="dashed"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="verticalalign">
    <xs:restriction base="xs:token">
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="baseline"/>
      <xs:enumeration value="axis"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="columnalignstyle">
    <xs:restriction base="xs:token">
      <xs:enumeration value="left"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="right"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="notationstyle">
    <xs:restriction base="xs:token">
      <xs:enumeration value="longdiv"/>
      <xs:enumeration value="actuarial"/>
      <xs:enumeration value="radical"/>
      <xs:enumeration value="box"/>
      <xs:enumeration value="roundedbox"/>
      <xs:enumeration value="circle"/>
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="updiagonalstrike"/>
      <xs:enumeration value="downdiagonalstrike"/>
      <xs:enumeration value="verticalstrike"/>
      <xs:enumeration value="horizontalstrike"/>
      <xs:enumeration value="madruwb"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="unsigned-integer">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="integer">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>
  <xs:simpleType name="number">
    <xs:restriction base="xs:decimal"/>
  </xs:simpleType>
  <xs:simpleType name="character">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*\S\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="color">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*((#[0-9a-fA-F]{3}([0-9a-fA-F]{3})?)|[aA][qQ][uU][aA]|[bB][lL][aA][cC][kK]|[bB][lL][uU][eE]|[fF][uU][cC][hH][sS][iI][aA]|[gG][rR][aA][yY]|[gG][rR][eE][eE][nN]|[lL][iI][mM][eE]|[mM][aA][rR][oO][oO][nN]|[nN][aA][vV][yY]|[oO][lL][iI][vV][eE]|[pP][uU][rR][pP][lL][eE]|[rR][eE][dD]|[sS][iI][lL][vV][eE][rR]|[tT][eE][aA][lL]|[wW][hH][iI][tT][eE]|[yY][eE][lL][lL][oO][wW])\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="group-alignment">
    <xs:restriction base="xs:token">
      <xs:enumeration value="left"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="decimalpoint"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="group-alignment-list">
    <xs:restriction>
      <xs:simpleType>
        <xs:list itemType="mathml:group-alignment"/>
      </xs:simpleType>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="group-alignment-list-list">
    <xs:restriction base="xs:string">
      <xs:pattern value="(\s*\{\s*(left|center|right|decimalpoint)(\s+(left|center|right|decimalpoint))*\})*\s*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="positive-integer">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>
  <xs:element name="TokenExpression" abstract="true" substitutionGroup="mathml:PresentationExpression"/>
  <xs:group name="token.content">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element ref="mathml:mglyph"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
    </xs:sequence>
  </xs:group>
  <xs:element name="mi" substitutionGroup="mathml:TokenExpression">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:token.content"/>
      <xs:attributeGroup ref="mathml:mi.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mi.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:TokenAtt"/>
  </xs:attributeGroup>
  <xs:element name="mn" substitutionGroup="mathml:TokenExpression">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:token.content"/>
      <xs:attributeGroup ref="mathml:mn.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mn.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:TokenAtt"/>
  </xs:attributeGroup>
  <xs:element name="mo" substitutionGroup="mathml:TokenExpression">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:token.content"/>
      <xs:attributeGroup ref="mathml:mo.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mo.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:TokenAtt"/>
    <xs:attribute name="form">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="prefix"/>
          <xs:enumeration value="infix"/>
          <xs:enumeration value="postfix"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fence">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="separator">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lspace" type="mathml:length"/>
    <xs:attribute name="rspace" type="mathml:length"/>
    <xs:attribute name="stretchy">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="symmetric">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="maxsize">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="infinity"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="minsize" type="mathml:length"/>
    <xs:attribute name="largeop">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="movablelimits">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="accent">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="linebreak">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="newline"/>
          <xs:enumeration value="nobreak"/>
          <xs:enumeration value="goodbreak"/>
          <xs:enumeration value="badbreak"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lineleading" type="mathml:length"/>
    <xs:attribute name="linebreakstyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="duplicate"/>
          <xs:enumeration value="infixlinebreakstyle"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="linebreakmultchar"/>
    <xs:attribute name="indentalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshift" type="mathml:length"/>
    <xs:attribute name="indenttarget"/>
    <xs:attribute name="indentalignfirst">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
          <xs:enumeration value="indentalign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshiftfirst">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="indentshift"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentalignlast">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
          <xs:enumeration value="indentalign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshiftlast">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="indentshift"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!--
    changed mtext content model to use mtext.content instead of generic
    token.content, because we want to handle mtext differently than other
    MathML "token elements" -- mike
  -->
  <xs:element name="mtext" substitutionGroup="mathml:TokenExpression">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:mtext.content"/>
      <xs:attributeGroup ref="mathml:mtext.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mtext.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:TokenAtt"/>
  </xs:attributeGroup>
  <xs:group name="mtext.content">
    <xs:choice>
      <xs:choice minOccurs="0">
        <xs:element ref="mathml:mglyph"/>
        <xs:element ref="mathml:malignmark"/>
      </xs:choice>
      <xs:group ref="common.elem.phrasing"/>
    </xs:choice>
  </xs:group>
  <xs:element name="mspace" substitutionGroup="mathml:TokenExpression">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:mspace.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mspace.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:TokenAtt"/>
    <xs:attribute name="width" type="mathml:length"/>
    <xs:attribute name="height" type="mathml:length"/>
    <xs:attribute name="depth" type="mathml:length"/>
    <xs:attribute name="linebreak">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="newline"/>
          <xs:enumeration value="nobreak"/>
          <xs:enumeration value="goodbreak"/>
          <xs:enumeration value="badbreak"/>
          <xs:enumeration value="indentingnewline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshift" type="mathml:length"/>
    <xs:attribute name="indenttarget"/>
    <xs:attribute name="indentalignfirst">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
          <xs:enumeration value="indentalign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshiftfirst">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="indentshift"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentalignlast">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
          <xs:enumeration value="indentalign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshiftlast">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="indentshift"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="ms" substitutionGroup="mathml:TokenExpression">
    <xs:complexType mixed="true">
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:token.content"/>
      <xs:attributeGroup ref="mathml:ms.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="ms.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:TokenAtt"/>
    <xs:attribute name="lquote"/>
    <xs:attribute name="rquote"/>
  </xs:attributeGroup>
  <xs:element name="mglyph">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:mglyph.attributes"/>
      <xs:attributeGroup ref="mathml:mglyph.deprecatedattributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mglyph.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="src" type="xs:anyURI"/>
    <xs:attribute name="width" type="mathml:length"/>
    <xs:attribute name="height" type="mathml:length"/>
    <xs:attribute name="valign" type="mathml:length"/>
    <xs:attribute name="alt"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="mglyph.deprecatedattributes">
    <xs:attribute name="index" type="mathml:integer"/>
    <xs:attribute name="mathvariant">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="italic"/>
          <xs:enumeration value="bold-italic"/>
          <xs:enumeration value="double-struck"/>
          <xs:enumeration value="bold-fraktur"/>
          <xs:enumeration value="script"/>
          <xs:enumeration value="bold-script"/>
          <xs:enumeration value="fraktur"/>
          <xs:enumeration value="sans-serif"/>
          <xs:enumeration value="bold-sans-serif"/>
          <xs:enumeration value="sans-serif-italic"/>
          <xs:enumeration value="sans-serif-bold-italic"/>
          <xs:enumeration value="monospace"/>
          <xs:enumeration value="initial"/>
          <xs:enumeration value="tailed"/>
          <xs:enumeration value="looped"/>
          <xs:enumeration value="stretched"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="mathsize">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="small"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="normal"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="big"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="mathml:DeprecatedTokenAtt"/>
  </xs:attributeGroup>
  <xs:element name="msline">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:msline.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msline.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="position" type="mathml:integer"/>
    <xs:attribute name="length" type="mathml:unsigned-integer"/>
    <xs:attribute name="leftoverhang" type="mathml:length"/>
    <xs:attribute name="rightoverhang" type="mathml:length"/>
    <xs:attribute name="mslinethickness">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thin"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="medium"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thick"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="none">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:none.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="none.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
  </xs:attributeGroup>
  <xs:element name="mprescripts">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:mprescripts.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mprescripts.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="CommonPresAtt">
    <xs:attribute name="mathcolor" type="mathml:color"/>
    <xs:attribute name="mathbackground">
      <xs:simpleType>
        <xs:union memberTypes="mathml:color">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="transparent"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="TokenAtt">
    <xs:attribute name="mathvariant">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="italic"/>
          <xs:enumeration value="bold-italic"/>
          <xs:enumeration value="double-struck"/>
          <xs:enumeration value="bold-fraktur"/>
          <xs:enumeration value="script"/>
          <xs:enumeration value="bold-script"/>
          <xs:enumeration value="fraktur"/>
          <xs:enumeration value="sans-serif"/>
          <xs:enumeration value="bold-sans-serif"/>
          <xs:enumeration value="sans-serif-italic"/>
          <xs:enumeration value="sans-serif-bold-italic"/>
          <xs:enumeration value="monospace"/>
          <xs:enumeration value="initial"/>
          <xs:enumeration value="tailed"/>
          <xs:enumeration value="looped"/>
          <xs:enumeration value="stretched"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="mathsize">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="small"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="normal"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="big"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="dir">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ltr"/>
          <xs:enumeration value="rtl"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="mathml:DeprecatedTokenAtt"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="DeprecatedTokenAtt">
    <xs:attribute name="fontfamily"/>
    <xs:attribute name="fontweight">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fontstyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="italic"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fontsize" type="mathml:length"/>
    <xs:attribute name="color" type="mathml:color"/>
    <xs:attribute name="background">
      <xs:simpleType>
        <xs:union memberTypes="mathml:color">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="transparent"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="MalignExpression" abstract="true" substitutionGroup="mathml:PresentationExpression"/>
  <xs:element name="malignmark" substitutionGroup="mathml:MalignExpression">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:malignmark.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="malignmark.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="edge">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="maligngroup" substitutionGroup="mathml:MalignExpression">
    <xs:complexType>
      <xs:attributeGroup ref="mathml:maligngroup.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="maligngroup.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="groupalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="decimalpoint"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="mrow" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MathExpression"/>
      <xs:attributeGroup ref="mathml:mrow.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mrow.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="dir">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ltr"/>
          <xs:enumeration value="rtl"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="mfrac" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mfrac.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mfrac.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="linethickness">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thin"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="medium"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thick"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="numalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="denomalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="bevelled">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="msqrt" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:msqrt.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msqrt.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
  </xs:attributeGroup>
  <xs:element name="mroot" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mroot.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mroot.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
  </xs:attributeGroup>
  <xs:element name="mstyle" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:mstyle.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mstyle.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:mstyle.specificattributes"/>
    <xs:attributeGroup ref="mathml:mstyle.generalattributes"/>
    <xs:attributeGroup ref="mathml:mstyle.deprecatedattributes"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="mstyle.specificattributes">
    <xs:attribute name="scriptlevel" type="mathml:integer"/>
    <xs:attribute name="displaystyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="scriptsizemultiplier" type="mathml:number"/>
    <xs:attribute name="scriptminsize" type="mathml:length"/>
    <xs:attribute name="infixlinebreakstyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="duplicate"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="decimalpoint" type="mathml:character"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="mstyle.generalattributes">
    <xs:attribute name="accent">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="accentunder">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="alignmentscope">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="true"/>
                  <xs:enumeration value="false"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="bevelled">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="charalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="charspacing">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="loose"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="medium"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="tight"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="close"/>
    <xs:attribute name="columnalign">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:columnalignstyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnlines">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:linestyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnspacing">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:length"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnspan" type="mathml:positive-integer"/>
    <xs:attribute name="columnwidth">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union memberTypes="mathml:length">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="auto"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="fit"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossout">
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="none"/>
              <xs:enumeration value="updiagonalstrike"/>
              <xs:enumeration value="downdiagonalstrike"/>
              <xs:enumeration value="verticalstrike"/>
              <xs:enumeration value="horizontalstrike"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="denomalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="depth" type="mathml:length"/>
    <xs:attribute name="dir">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ltr"/>
          <xs:enumeration value="rtl"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="edge">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="equalcolumns">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="equalrows">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="fence">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="form">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="prefix"/>
          <xs:enumeration value="infix"/>
          <xs:enumeration value="postfix"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="frame" type="mathml:linestyle"/>
    <xs:attribute name="framespacing">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union memberTypes="mathml:length mathml:length"/>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:length value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="groupalign" type="mathml:group-alignment-list-list"/>
    <xs:attribute name="height" type="mathml:length"/>
    <xs:attribute name="indentalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentalignfirst">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
          <xs:enumeration value="indentalign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentalignlast">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value="id"/>
          <xs:enumeration value="indentalign"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshift" type="mathml:length"/>
    <xs:attribute name="indentshiftfirst">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="indentshift"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indentshiftlast">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="indentshift"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="indenttarget"/>
    <xs:attribute name="largeop">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="leftoverhang" type="mathml:length"/>
    <xs:attribute name="length" type="mathml:unsigned-integer"/>
    <xs:attribute name="linebreak">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="newline"/>
          <xs:enumeration value="nobreak"/>
          <xs:enumeration value="goodbreak"/>
          <xs:enumeration value="badbreak"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="linebreakmultchar"/>
    <xs:attribute name="linebreakstyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="before"/>
          <xs:enumeration value="after"/>
          <xs:enumeration value="duplicate"/>
          <xs:enumeration value="infixlinebreakstyle"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lineleading" type="mathml:length"/>
    <xs:attribute name="linethickness">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thin"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="medium"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thick"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="location">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="w"/>
          <xs:enumeration value="nw"/>
          <xs:enumeration value="n"/>
          <xs:enumeration value="ne"/>
          <xs:enumeration value="e"/>
          <xs:enumeration value="se"/>
          <xs:enumeration value="s"/>
          <xs:enumeration value="sw"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="longdivstyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lefttop"/>
          <xs:enumeration value="stackedrightright"/>
          <xs:enumeration value="mediumstackedrightright"/>
          <xs:enumeration value="shortstackedrightright"/>
          <xs:enumeration value="righttop"/>
          <xs:enumeration value="left/\right"/>
          <xs:enumeration value="left)(right"/>
          <xs:enumeration value=":right=right"/>
          <xs:enumeration value="stackedleftleft"/>
          <xs:enumeration value="stackedleftlinetop"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="lquote"/>
    <xs:attribute name="lspace" type="mathml:length"/>
    <xs:attribute name="mathsize">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="small"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="normal"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="big"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="mathvariant">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="normal"/>
          <xs:enumeration value="bold"/>
          <xs:enumeration value="italic"/>
          <xs:enumeration value="bold-italic"/>
          <xs:enumeration value="double-struck"/>
          <xs:enumeration value="bold-fraktur"/>
          <xs:enumeration value="script"/>
          <xs:enumeration value="bold-script"/>
          <xs:enumeration value="fraktur"/>
          <xs:enumeration value="sans-serif"/>
          <xs:enumeration value="bold-sans-serif"/>
          <xs:enumeration value="sans-serif-italic"/>
          <xs:enumeration value="sans-serif-bold-italic"/>
          <xs:enumeration value="monospace"/>
          <xs:enumeration value="initial"/>
          <xs:enumeration value="tailed"/>
          <xs:enumeration value="looped"/>
          <xs:enumeration value="stretched"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="maxsize">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="infinity"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="minlabelspacing" type="mathml:length"/>
    <xs:attribute name="minsize" type="mathml:length"/>
    <xs:attribute name="movablelimits">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="mslinethickness">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thin"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="medium"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="thick"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="notation"/>
    <xs:attribute name="numalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="open"/>
    <xs:attribute name="position" type="mathml:integer"/>
    <xs:attribute name="rightoverhang" type="mathml:length"/>
    <xs:attribute name="rowalign">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:verticalalign"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rowlines">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:linestyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rowspacing">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:length"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rowspan" type="mathml:positive-integer"/>
    <xs:attribute name="rquote"/>
    <xs:attribute name="rspace" type="mathml:length"/>
    <xs:attribute name="selection" type="mathml:positive-integer"/>
    <xs:attribute name="separator">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="separators"/>
    <xs:attribute name="shift" type="mathml:integer"/>
    <xs:attribute name="side">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="leftoverlap"/>
          <xs:enumeration value="rightoverlap"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="stackalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="decimalpoint"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="stretchy">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="subscriptshift" type="mathml:length"/>
    <xs:attribute name="superscriptshift" type="mathml:length"/>
    <xs:attribute name="symmetric">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="valign" type="mathml:length"/>
    <xs:attribute name="width" type="mathml:length"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="mstyle.deprecatedattributes">
    <xs:attributeGroup ref="mathml:DeprecatedTokenAtt"/>
    <xs:attribute name="veryverythinmathspace" type="mathml:length"/>
    <xs:attribute name="verythinmathspace" type="mathml:length"/>
    <xs:attribute name="thinmathspace" type="mathml:length"/>
    <xs:attribute name="mediummathspace" type="mathml:length"/>
    <xs:attribute name="thickmathspace" type="mathml:length"/>
    <xs:attribute name="verythickmathspace" type="mathml:length"/>
    <xs:attribute name="veryverythickmathspace" type="mathml:length"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="math.attributes">
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attributeGroup ref="mathml:mstyle.specificattributes"/>
    <xs:attributeGroup ref="mathml:mstyle.generalattributes"/>
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attribute name="display">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="block"/>
          <xs:enumeration value="inline"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="maxwidth" type="mathml:length"/>
    <xs:attribute name="overflow">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="linebreak"/>
          <xs:enumeration value="scroll"/>
          <xs:enumeration value="elide"/>
          <xs:enumeration value="truncate"/>
          <xs:enumeration value="scale"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="altimg" type="xs:anyURI"/>
    <xs:attribute name="altimg-width" type="mathml:length"/>
    <xs:attribute name="altimg-height" type="mathml:length"/>
    <xs:attribute name="altimg-valign">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="top"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="middle"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="bottom"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="alttext"/>
    <xs:attribute name="cdgroup" type="xs:anyURI"/>
    <xs:attributeGroup ref="mathml:math.deprecatedattributes"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="math"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="merror" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:merror.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="merror.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
  </xs:attributeGroup>
  <xs:element name="mpadded" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:mpadded.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mpadded.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="height" type="mathml:mpadded-length"/>
    <xs:attribute name="depth" type="mathml:mpadded-length"/>
    <xs:attribute name="width" type="mathml:mpadded-length"/>
    <xs:attribute name="lspace" type="mathml:mpadded-length"/>
    <xs:attribute name="voffset" type="mathml:mpadded-length"/>
  </xs:attributeGroup>
  <xs:element name="mphantom" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:mphantom.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mphantom.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
  </xs:attributeGroup>
  <xs:element name="mfenced" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MathExpression"/>
      <xs:attributeGroup ref="mathml:mfenced.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mfenced.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="open"/>
    <xs:attribute name="close"/>
    <xs:attribute name="separators"/>
  </xs:attributeGroup>
  <xs:element name="menclose" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mathml:ImpliedMrow">
          <xs:attributeGroup ref="mathml:menclose.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="menclose.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="notation"/>
  </xs:attributeGroup>
  <xs:element name="msub" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:msub.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msub.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="subscriptshift" type="mathml:length"/>
  </xs:attributeGroup>
  <xs:element name="msup" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:msup.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msup.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="superscriptshift" type="mathml:length"/>
  </xs:attributeGroup>
  <xs:element name="msubsup" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:msubsup.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msubsup.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="subscriptshift" type="mathml:length"/>
    <xs:attribute name="superscriptshift" type="mathml:length"/>
  </xs:attributeGroup>
  <xs:element name="munder" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:munder.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="munder.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="accentunder">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="mover" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mover.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mover.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="accent">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="munderover" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group ref="mathml:MathExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:munderover.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="munderover.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="accent">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="accentunder">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="center"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="mmultiscripts" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MathExpression"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MultiScriptExpression"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="mathml:mprescripts"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MultiScriptExpression"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mmultiscripts.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mmultiscripts.attributes">
    <xs:attributeGroup ref="mathml:msubsup.attributes"/>
  </xs:attributeGroup>
  <xs:element name="mtable" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mathml:TableRowExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mtable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mtable.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rowalign">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:verticalalign"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnalign">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:columnalignstyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="groupalign" type="mathml:group-alignment-list-list"/>
    <xs:attribute name="alignmentscope">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="true"/>
                  <xs:enumeration value="false"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnwidth">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union memberTypes="mathml:length">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="auto"/>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="fit"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="width">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="auto"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rowspacing">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:length"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnspacing">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:length"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rowlines">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:linestyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnlines">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:linestyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="frame" type="mathml:linestyle"/>
    <xs:attribute name="framespacing">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union memberTypes="mathml:length mathml:length"/>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:length value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="equalrows">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="equalcolumns">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="displaystyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="side">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="leftoverlap"/>
          <xs:enumeration value="rightoverlap"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="minlabelspacing" type="mathml:length"/>
  </xs:attributeGroup>
  <xs:element name="mlabeledtr" substitutionGroup="mathml:TableRowExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="mathml:TableCellExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mlabeledtr.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mlabeledtr.attributes">
    <xs:attributeGroup ref="mathml:mtr.attributes"/>
  </xs:attributeGroup>
  <xs:element name="mtr" substitutionGroup="mathml:TableRowExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="mathml:TableCellExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mtr.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mtr.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="rowalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="baseline"/>
          <xs:enumeration value="axis"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnalign">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list itemType="mathml:columnalignstyle"/>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="groupalign" type="mathml:group-alignment-list-list"/>
  </xs:attributeGroup>
  <xs:element name="mtd" substitutionGroup="mathml:TableCellExpression"/>
  <xs:attributeGroup name="mtd.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="rowspan" type="mathml:positive-integer"/>
    <xs:attribute name="columnspan" type="mathml:positive-integer"/>
    <xs:attribute name="rowalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="top"/>
          <xs:enumeration value="bottom"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="baseline"/>
          <xs:enumeration value="axis"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="columnalign" type="mathml:columnalignstyle"/>
    <xs:attribute name="groupalign" type="mathml:group-alignment-list"/>
  </xs:attributeGroup>
  <xs:element name="mstack" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MstackExpression"/>
      <xs:attributeGroup ref="mathml:mstack.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mstack.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="align">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:pattern value="\s*(top|bottom|center|baseline|axis)(\s+-?[0-9]+)?\s*"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="stackalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
          <xs:enumeration value="decimalpoint"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="charalign">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="left"/>
          <xs:enumeration value="center"/>
          <xs:enumeration value="right"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="charspacing">
      <xs:simpleType>
        <xs:union memberTypes="mathml:length">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="loose"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="medium"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="tight"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="mlongdiv" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:sequence>
        <xs:group ref="mathml:MstackExpression"/>
        <xs:group ref="mathml:MstackExpression"/>
        <xs:group maxOccurs="unbounded" ref="mathml:MstackExpression"/>
      </xs:sequence>
      <xs:attributeGroup ref="mathml:mlongdiv.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mlongdiv.attributes">
    <xs:attributeGroup ref="mathml:msgroup.attributes"/>
    <xs:attribute name="longdivstyle">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lefttop"/>
          <xs:enumeration value="stackedrightright"/>
          <xs:enumeration value="mediumstackedrightright"/>
          <xs:enumeration value="shortstackedrightright"/>
          <xs:enumeration value="righttop"/>
          <xs:enumeration value="left/\right"/>
          <xs:enumeration value="left)(right"/>
          <xs:enumeration value=":right=right"/>
          <xs:enumeration value="stackedleftleft"/>
          <xs:enumeration value="stackedleftlinetop"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="msgroup">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MstackExpression"/>
      <xs:attributeGroup ref="mathml:msgroup.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msgroup.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="position" type="mathml:integer"/>
    <xs:attribute name="shift" type="mathml:integer"/>
  </xs:attributeGroup>
  <xs:element name="msrow">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MsrowExpression"/>
      <xs:attributeGroup ref="mathml:msrow.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="msrow.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="position" type="mathml:integer"/>
  </xs:attributeGroup>
  <xs:element name="mscarries">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="mathml:MsrowExpression"/>
        <xs:element ref="mathml:mscarry"/>
      </xs:choice>
      <xs:attributeGroup ref="mathml:mscarries.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mscarries.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="position" type="mathml:integer"/>
    <xs:attribute name="location">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="w"/>
          <xs:enumeration value="nw"/>
          <xs:enumeration value="n"/>
          <xs:enumeration value="ne"/>
          <xs:enumeration value="e"/>
          <xs:enumeration value="se"/>
          <xs:enumeration value="s"/>
          <xs:enumeration value="sw"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossout">
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="none"/>
              <xs:enumeration value="updiagonalstrike"/>
              <xs:enumeration value="downdiagonalstrike"/>
              <xs:enumeration value="verticalstrike"/>
              <xs:enumeration value="horizontalstrike"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="scriptsizemultiplier" type="mathml:number"/>
  </xs:attributeGroup>
  <xs:element name="mscarry">
    <xs:complexType>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="mathml:MsrowExpression"/>
      <xs:attributeGroup ref="mathml:mscarry.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="mscarry.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="location">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="w"/>
          <xs:enumeration value="nw"/>
          <xs:enumeration value="n"/>
          <xs:enumeration value="ne"/>
          <xs:enumeration value="e"/>
          <xs:enumeration value="se"/>
          <xs:enumeration value="s"/>
          <xs:enumeration value="sw"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossout">
      <xs:simpleType>
        <xs:list>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="none"/>
              <xs:enumeration value="updiagonalstrike"/>
              <xs:enumeration value="downdiagonalstrike"/>
              <xs:enumeration value="verticalstrike"/>
              <xs:enumeration value="horizontalstrike"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:list>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="maction" substitutionGroup="mathml:PresentationExpression">
    <xs:complexType>
      <xs:group maxOccurs="unbounded" ref="mathml:MathExpression"/>
      <xs:attributeGroup ref="mathml:maction.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="maction.attributes">
    <xs:attributeGroup ref="mathml:CommonAtt"/>
    <xs:attributeGroup ref="mathml:CommonPresAtt"/>
    <xs:attribute name="actiontype" use="required"/>
    <xs:attribute name="selection" type="mathml:positive-integer"/>
  </xs:attributeGroup>
</xs:schema>
