xsd/epub-test_modified/30/ocf-metadata-30/package-30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://purl.org/dc/elements/1.1/" xmlns:opf="http://www.idpf.org/2007/opf" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:metadata="http://www.idpf.org/2013/metadata" xmlns:epub="http://www.idpf.org/2007/ops">
	<xs:include schemaLocation="datatypes.xsd"/>
	<xs:import namespace="http://www.idpf.org/2007/opf" schemaLocation="opf.xsd"/>
	<xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub-prefix-attr.xsd"/>
	<xs:import namespace="http://www.idpf.org/2013/metadata" schemaLocation="ocf-metadata-30.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:attributeGroup name="opf.package.attlist">
		<xs:attributeGroup ref="dc:opf.version.attr"/>
		<xs:attributeGroup ref="dc:opf.unique.identifier.attr"/>
		<xs:attribute name="id" type="dc:datatype.ID"/>
		<xs:attribute name="prefix"/>
		<xs:attributeGroup ref="dc:opf.i18n.attrs"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.version.attr">
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="3.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.unique.identifier.attr">
		<xs:attribute name="unique-identifier" use="required" type="dc:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:group name="opf.package.content">
		<xs:sequence>
			<xs:group ref="dc:opf.metadata"/>
			<xs:element ref="opf:manifest"/>
			<xs:element ref="opf:spine"/>
			<xs:element minOccurs="0" ref="opf:guide"/>
			<xs:element minOccurs="0" ref="opf:bindings"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="opf:collection"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="opf.metadata">
		<xs:sequence>
			<xs:group ref="opf:metadata"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="opf.metadata.content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="metadata:opf.dc.elems"/>
			<xs:element ref="metadata:meta"/>
			<xs:element ref="metadata:link"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="opf.epub3.meta.content">
		<xs:simpleContent>
			<xs:extension base="dc:datatype.string.nonempty">
				<xs:attributeGroup ref="dc:opf.property.attr"/>
				<xs:attribute name="refines" type="dc:datatype.URI"/>
				<xs:attribute name="id" type="dc:datatype.ID"/>
				<xs:attribute name="scheme" type="dc:datatype.property"/>
				<xs:attributeGroup ref="dc:opf.i18n.attrs"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attributeGroup name="opf.epub2.meta.content">
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="content" use="required"/>
	</xs:attributeGroup>
	<!-- legacy -->
	<xs:attributeGroup name="opf.property.attr">
		<xs:attribute name="property" use="required" type="dc:datatype.property"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.rel.attr">
		<xs:attribute name="rel" use="required" type="dc:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.scheme.attr">
		<xs:attribute name="scheme" use="required" type="dc:datatype.property"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.refines.attr">
		<xs:attribute name="refines" use="required" type="dc:datatype.URI"/>
	</xs:attributeGroup>
	<xs:element name="identifier">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attribute name="id" type="dc:datatype.ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="title">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="language">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.languagecode">
					<xs:attribute name="id" type="dc:datatype.ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="date">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attribute name="id" type="dc:datatype.ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="source">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="type">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attribute name="id" type="dc:datatype.ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="format">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attribute name="id" type="dc:datatype.ID"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="creator">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="publisher">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contributor">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="relation">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="coverage">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="rights">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="dc:datatype.string.nonempty">
					<xs:attributeGroup ref="dc:opf.dc.attlist"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.dc.attlist">
		<xs:attribute name="id" type="dc:datatype.ID"/>
		<xs:attributeGroup ref="dc:opf.i18n.attrs"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.manifest.attlist">
		<xs:attribute name="id" type="dc:datatype.ID"/>
	</xs:attributeGroup>
	<xs:complexType name="opf.manifest.content">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="opf:item"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="opf.item.attlist">
		<xs:attributeGroup ref="dc:opf.id.attr"/>
		<xs:attributeGroup ref="dc:opf.href.attr"/>
		<xs:attributeGroup ref="dc:opf.media-type.attr"/>
		<xs:attribute name="fallback" type="dc:datatype.IDREF"/>
		<xs:attribute name="media-overlay" type="dc:datatype.IDREF"/>
		<xs:attribute name="properties" type="dc:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.fallback.attr">
		<xs:attribute name="fallback" use="required" type="dc:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.media-overlay.attr">
		<xs:attribute name="media-overlay" use="required" type="dc:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.properties.attr">
		<xs:attribute name="properties" use="required" type="dc:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.spine.attlist">
		<xs:attribute name="id" type="dc:datatype.ID"/>
		<xs:attribute name="toc" type="dc:datatype.IDREF"/>
		<xs:attribute name="page-progression-direction">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
					<xs:enumeration value="default"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.spine.toc.attr">
		<xs:attribute name="toc" use="required" type="dc:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.ppd.attr">
		<xs:attribute name="page-progression-direction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
					<xs:enumeration value="default"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="opf.spine.content">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="opf:itemref"/>
		</xs:sequence>
	</xs:complexType>
	<xs:attributeGroup name="opf.itemref.attlist">
		<xs:attributeGroup ref="dc:opf.itemref.idref.attr"/>
		<xs:attribute name="linear">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="dc:datatype.ID"/>
		<xs:attribute name="properties" type="dc:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.itemref.idref.attr">
		<xs:attribute name="idref" use="required" type="dc:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.itemref.linear.attr">
		<xs:attribute name="linear" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.bindings.mediaType.attlist">
		<xs:attributeGroup ref="dc:opf.media-type.attr"/>
		<xs:attribute name="handler" use="required" type="dc:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.collection.attlist">
		<xs:attribute name="id" type="dc:datatype.ID"/>
		<xs:attribute name="dir">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attributeGroup ref="dc:opf.collection.role.attr"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.collection.role.attr">
		<xs:attribute name="role" use="required" type="dc:datatype.space.separated.tokens"/>
	</xs:attributeGroup>
	<xs:complexType name="opf.collection.content">
		<xs:sequence>
			<xs:group minOccurs="0" ref="dc:opf.collection.metadata"/>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="opf:collection"/>
				<xs:element maxOccurs="unbounded" ref="opf:link"/>
			</xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="opf.collection.metadata">
		<xs:sequence>
			<xs:group ref="opf:metadata1"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="opf.collection.metadata.content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="dc:opf.collection.dc.elems"/>
			<xs:element ref="opf:meta"/>
			<xs:element ref="metadata:link"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="opf.collection.dc.elems">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dc:identifier"/>
				<xs:element ref="dc:title"/>
				<xs:element ref="dc:language"/>
				<xs:element ref="dc:date"/>
				<xs:element ref="dc:source"/>
				<xs:element ref="dc:type"/>
				<xs:element ref="dc:format"/>
				<xs:element ref="dc:creator"/>
				<xs:element ref="dc:subject"/>
				<xs:element ref="dc:description"/>
				<xs:element ref="dc:publisher"/>
				<xs:element ref="dc:contributor"/>
				<xs:element ref="dc:relation"/>
				<xs:element ref="dc:coverage"/>
				<xs:element ref="dc:rights"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="opf.media-type.attr">
		<xs:attribute name="media-type" use="required" type="dc:datatype.mimetype"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.href.attr">
		<xs:attribute name="href" use="required" type="dc:datatype.URI"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.id.attr">
		<xs:attribute name="id" use="required" type="dc:datatype.ID"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.i18n.attrs">
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="dir">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.xml.lang.attr">
		<xs:attribute ref="xml:lang" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.dir.attr">
		<xs:attribute name="dir" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
