xsd/epub-test/30/epub-svg-30/media.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-svg-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg11-inc.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <!-- src not included -->
  <xs:attributeGroup name="media.attrs">
    <xs:annotation>
      <xs:documentation> RELAX NG Schema for HTML 5: Advanced Embedded Content             #</xs:documentation>
    </xs:annotation>
    <xs:attribute name="autoplay">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="autoplay"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="preload">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="metadata"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="controls">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="controls"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="loop">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="loop"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="muted">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="muted"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossorigin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="media.attrs.autoplay">
    <xs:attribute name="autoplay" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="autoplay"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="media.attrs.preload">
    <xs:attribute name="preload" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="none"/>
          <xs:enumeration value="metadata"/>
          <xs:enumeration value="auto"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="media.attrs.controls">
    <xs:attribute name="controls" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="controls"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="media.attrs.loop">
    <xs:attribute name="loop" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="loop"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="media.attrs.muted">
    <xs:attribute name="muted" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="muted"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="source.elem">
    <xs:annotation>
      <xs:documentation>Source: &lt;source&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="source">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:source.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="source.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:source.attrs.src"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="source.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="source.attrs.type">
    <xs:attribute name="type" use="required" type="common.data.mimetype"/>
  </xs:attributeGroup>
  <xs:group name="media.source">
    <xs:annotation>
      <xs:documentation>Media Source</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="xhtml:source.elem"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="media.source">
    <xs:annotation>
      <xs:documentation>Media Source</xs:documentation>
    </xs:annotation>
    <xs:attribute name="src" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="media.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:group name="video.elem.flow">
    <xs:annotation>
      <xs:documentation>Video: &lt;video&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="video">
        <xs:complexType mixed="true">
          <xs:group ref="xhtml:video.inner.flow"/>
          <xs:attributeGroup ref="xhtml:video.inner.flow"/>
          <xs:attributeGroup ref="xhtml:video.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="video.elem.phrasing">
    <xs:sequence>
      <xs:element name="video">
        <xs:complexType mixed="true">
          <xs:group ref="xhtml:video.inner.phrasing"/>
          <xs:attributeGroup ref="xhtml:video.inner.phrasing"/>
          <xs:attributeGroup ref="xhtml:video.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="video.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:media.attrs"/>
    <xs:attribute name="poster" type="common.data.uri.non-empty"/>
    <xs:attribute name="height" type="common.data.integer.non-negative"/>
    <xs:attribute name="width" type="common.data.integer.non-negative"/>
    <xs:attribute name="playsinline">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="playsinline"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.role.application"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="video.attrs.poster">
    <xs:attribute name="poster" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="video.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="video.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="video.attrs.playsinline">
    <xs:attribute name="playsinline" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="playsinline"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="video.inner.flow">
    <xs:sequence>
      <xs:group ref="xhtml:media.source"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:track"/>
      <xs:group ref="common.inner.transparent.flow"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="video.inner.flow">
    <xs:attributeGroup ref="xhtml:media.source"/>
  </xs:attributeGroup>
  <xs:group name="video.inner.phrasing">
    <xs:sequence>
      <xs:group ref="xhtml:media.source"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:track"/>
      <xs:group ref="common.inner.phrasing"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="video.inner.phrasing">
    <xs:attributeGroup ref="xhtml:media.source"/>
  </xs:attributeGroup>
  <xs:group name="audio.elem.flow">
    <xs:annotation>
      <xs:documentation>Audio: &lt;audio&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="audio">
        <xs:complexType mixed="true">
          <xs:group ref="xhtml:audio.inner.flow"/>
          <xs:attributeGroup ref="xhtml:audio.inner.flow"/>
          <xs:attributeGroup ref="xhtml:audio.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="audio.elem.phrasing">
    <xs:sequence>
      <xs:element name="audio">
        <xs:complexType mixed="true">
          <xs:group ref="xhtml:audio.inner.phrasing"/>
          <xs:attributeGroup ref="xhtml:audio.inner.phrasing"/>
          <xs:attributeGroup ref="xhtml:audio.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="audio.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:media.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.role.application"/>
  </xs:attributeGroup>
  <xs:group name="audio.inner.flow">
    <xs:sequence>
      <xs:group ref="xhtml:media.source"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:track"/>
      <xs:group ref="common.inner.transparent.flow"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="audio.inner.flow">
    <xs:attributeGroup ref="xhtml:media.source"/>
  </xs:attributeGroup>
  <xs:group name="audio.inner.phrasing">
    <xs:sequence>
      <xs:group ref="xhtml:media.source"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:track"/>
      <xs:group ref="common.inner.phrasing"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="audio.inner.phrasing">
    <xs:attributeGroup ref="xhtml:media.source"/>
  </xs:attributeGroup>
  <!---->
  <xs:element name="track">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:track.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="track.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="kind">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="subtitles"/>
          <xs:enumeration value="captions"/>
          <xs:enumeration value="descriptions"/>
          <xs:enumeration value="chapters"/>
          <xs:enumeration value="metadata"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="xhtml:track.attrs.src"/>
    <xs:attribute name="srclang" type="common.data.langcode"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="default">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="default"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="track.attrs.kind">
    <xs:attribute name="kind" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="subtitles"/>
          <xs:enumeration value="captions"/>
          <xs:enumeration value="descriptions"/>
          <xs:enumeration value="chapters"/>
          <xs:enumeration value="metadata"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="track.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="track.attrs.srclang">
    <xs:attribute name="srclang" use="required" type="common.data.langcode"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="track.attrs.label">
    <xs:attribute name="label" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="track.attrs.default">
    <xs:attribute name="default" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="default"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="figure">
    <xs:complexType mixed="true">
      <xs:group ref="xhtml:figure.inner"/>
      <xs:attributeGroup ref="xhtml:figure.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="figure.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="figure"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="group"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.figure"/>
    <xs:attribute name="aria-activedescendant" type="common.data.idref"/>
  </xs:attributeGroup>
  <xs:group name="figure.inner">
    <xs:choice>
      <xs:sequence>
        <xs:element minOccurs="0" ref="xhtml:figcaption"/>
        <xs:group ref="common.inner.flow"/>
      </xs:sequence>
      <xs:sequence>
        <xs:group ref="common.inner.flow"/>
        <xs:element minOccurs="0" ref="xhtml:figcaption"/>
      </xs:sequence>
    </xs:choice>
  </xs:group>
  <xs:element name="figcaption">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:figcaption.inner">
          <xs:attributeGroup ref="xhtml:figcaption.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="figcaption.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="group"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-activedescendant" type="common.data.idref"/>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="figcaption.inner" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
</xs:schema>
