xsd/epub-test/epub-xhtml-30/svg-basic-font.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-xhtml-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-xhtml-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="epub-xhtml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:complexType name="SVG.font.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.Description.class"/>
      <xs:element ref="svg:font-face"/>
      <xs:element ref="svg:missing-glyph"/>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="svg:glyph"/>
        <xs:element ref="svg:hkern"/>
        <xs:element ref="svg:vkern"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="font" substitutionGroup="svg:SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font.content">
          <xs:attributeGroup ref="svg:attlist.font"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Presentation.attrib"/>
    <xs:attributeGroup ref="SVG.External.attrib"/>
    <xs:attribute name="horiz-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="horiz-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="horiz-adv-x" use="required" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="vert-adv-y" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:complexType name="SVG.font-face.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:SVG.Description.class"/>
      <xs:element minOccurs="0" ref="svg:font-face-src"/>
      <xs:group ref="svg:SVG.font-face.extra.class"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="font-face" substitutionGroup="svg:SVG.Font.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font-face.content">
          <xs:attributeGroup ref="svg:attlist.font-face"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attribute name="font-family"/>
    <xs:attribute name="font-style"/>
    <xs:attribute name="font-variant"/>
    <xs:attribute name="font-weight"/>
    <xs:attribute name="font-stretch"/>
    <xs:attribute name="font-size"/>
    <xs:attribute name="unicode-range"/>
    <xs:attribute name="units-per-em" type="svg:Number.datatype"/>
    <xs:attribute name="panose-1"/>
    <xs:attribute name="stemv" type="svg:Number.datatype"/>
    <xs:attribute name="stemh" type="svg:Number.datatype"/>
    <xs:attribute name="slope" type="svg:Number.datatype"/>
    <xs:attribute name="cap-height" type="svg:Number.datatype"/>
    <xs:attribute name="x-height" type="svg:Number.datatype"/>
    <xs:attribute name="accent-height" type="svg:Number.datatype"/>
    <xs:attribute name="ascent" type="svg:Number.datatype"/>
    <xs:attribute name="descent" type="svg:Number.datatype"/>
    <xs:attribute name="widths"/>
    <xs:attribute name="bbox"/>
    <xs:attribute name="ideographic" type="svg:Number.datatype"/>
    <xs:attribute name="alphabetic" type="svg:Number.datatype"/>
    <xs:attribute name="mathematical" type="svg:Number.datatype"/>
    <xs:attribute name="hanging" type="svg:Number.datatype"/>
    <xs:attribute name="v-ideographic" type="svg:Number.datatype"/>
    <xs:attribute name="v-alphabetic" type="svg:Number.datatype"/>
    <xs:attribute name="v-mathematical" type="svg:Number.datatype"/>
    <xs:attribute name="v-hanging" type="svg:Number.datatype"/>
    <xs:attribute name="underline-position" type="svg:Number.datatype"/>
    <xs:attribute name="underline-thickness" type="svg:Number.datatype"/>
    <xs:attribute name="strikethrough-position" type="svg:Number.datatype"/>
    <xs:attribute name="strikethrough-thickness" type="svg:Number.datatype"/>
    <xs:attribute name="overline-position" type="svg:Number.datatype"/>
    <xs:attribute name="overline-thickness" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:group name="SVG.glyph.class">
    <xs:choice>
      <xs:element ref="svg:SVG.Animation.class"/>
      <xs:group ref="svg:SVG.Structure.class"/>
      <xs:element ref="svg:SVG.Conditional.class"/>
      <xs:element ref="svg:SVG.Image.class"/>
      <xs:element ref="svg:SVG.Style.class"/>
      <xs:element ref="svg:SVG.Shape.class"/>
      <xs:element ref="svg:SVG.Text.class"/>
      <xs:element ref="svg:SVG.Marker.class"/>
      <xs:element ref="svg:SVG.Profile.class"/>
      <xs:element ref="svg:SVG.Gradient.class"/>
      <xs:element ref="svg:SVG.Pattern.class"/>
      <xs:element ref="svg:SVG.Clip.class"/>
      <xs:element ref="svg:SVG.Mask.class"/>
      <xs:element ref="svg:SVG.Filter.class"/>
      <xs:element ref="svg:SVG.Cursor.class"/>
      <xs:element ref="svg:SVG.Hyperlink.class"/>
      <xs:element ref="svg:SVG.View.class"/>
      <xs:element ref="svg:SVG.Script.class"/>
      <xs:element ref="svg:SVG.Font.class"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SVG.glyph.content">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element ref="svg:SVG.Description.class"/>
        <xs:group ref="svg:SVG.glyph.class"/>
      </xs:choice>
      <xs:element ref="svg:SVG.Extensibility.class"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.glyph.content">
          <xs:attributeGroup ref="svg:attlist.glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.glyph">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Presentation.attrib"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.group"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
    <xs:attribute name="unicode"/>
    <xs:attribute name="glyph-name"/>
    <xs:attribute name="d" type="svg:PathData.datatype"/>
    <xs:attribute name="orientation"/>
    <xs:attribute name="arabic-form"/>
    <xs:attribute name="horiz-adv-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="vert-adv-y" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:group name="SVG.missing-glyph.class">
    <xs:choice>
      <xs:element ref="svg:SVG.Animation.class"/>
      <xs:group ref="svg:SVG.Structure.class"/>
      <xs:element ref="svg:SVG.Conditional.class"/>
      <xs:element ref="svg:SVG.Image.class"/>
      <xs:element ref="svg:SVG.Style.class"/>
      <xs:element ref="svg:SVG.Shape.class"/>
      <xs:element ref="svg:SVG.Text.class"/>
      <xs:element ref="svg:SVG.Marker.class"/>
      <xs:element ref="svg:SVG.Profile.class"/>
      <xs:element ref="svg:SVG.Gradient.class"/>
      <xs:element ref="svg:SVG.Pattern.class"/>
      <xs:element ref="svg:SVG.Clip.class"/>
      <xs:element ref="svg:SVG.Mask.class"/>
      <xs:element ref="svg:SVG.Filter.class"/>
      <xs:element ref="svg:SVG.Cursor.class"/>
      <xs:element ref="svg:SVG.Hyperlink.class"/>
      <xs:element ref="svg:SVG.View.class"/>
      <xs:element ref="svg:SVG.Script.class"/>
      <xs:element ref="svg:SVG.Font.class"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="SVG.missing-glyph.content">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:choice>
        <xs:element ref="svg:SVG.Description.class"/>
        <xs:group ref="svg:SVG.missing-glyph.class"/>
      </xs:choice>
      <xs:element ref="svg:SVG.Extensibility.class"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="missing-glyph">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.missing-glyph.content">
          <xs:attributeGroup ref="svg:attlist.missing-glyph"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.missing-glyph">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Presentation.attrib"/>
    <xs:attribute name="d" type="svg:PathData.datatype"/>
    <xs:attribute name="horiz-adv-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-x" type="svg:Number.datatype"/>
    <xs:attribute name="vert-origin-y" type="svg:Number.datatype"/>
    <xs:attribute name="vert-adv-y" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:element name="hkern">
    <xs:complexType>
      <xs:attributeGroup ref="svg:attlist.hkern"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.hkern">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attribute name="u1"/>
    <xs:attribute name="g1"/>
    <xs:attribute name="u2"/>
    <xs:attribute name="g2"/>
    <xs:attribute name="k" use="required" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:element name="vkern">
    <xs:complexType>
      <xs:attributeGroup ref="svg:attlist.vkern"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.vkern">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attribute name="u1"/>
    <xs:attribute name="g1"/>
    <xs:attribute name="u2"/>
    <xs:attribute name="g2"/>
    <xs:attribute name="k" use="required" type="svg:Number.datatype"/>
  </xs:attributeGroup>
  <xs:complexType name="SVG.font-face-src.content">
    <xs:choice maxOccurs="unbounded">
      <xs:element ref="svg:font-face-uri"/>
      <xs:element ref="svg:font-face-name"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="font-face-src">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font-face-src.content">
          <xs:attributeGroup ref="svg:attlist.font-face-src"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face-src">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
  </xs:attributeGroup>
  <xs:complexType name="SVG.font-face-uri.content">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="svg:font-face-format"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="font-face-uri">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.font-face-uri.content">
          <xs:attributeGroup ref="svg:attlist.font-face-uri"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face-uri">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="xlink:SVG.XLinkRequired.attrib"/>
  </xs:attributeGroup>
  <xs:element name="font-face-name">
    <xs:complexType>
      <xs:attributeGroup ref="svg:attlist.font-face-name"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.font-face-name">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attribute name="name"/>
  </xs:attributeGroup>
</xs:schema>
