xsd/epub-test/epub-xhtml-30/web-forms2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-xhtml-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-xhtml-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:attributeGroup name="shared-form.attrs.formaction">
    <xs:attribute name="formaction" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.formenctype">
    <xs:attribute name="formenctype" use="required" type="xhtml:shared-form.attrs.formenctype.data"/>
  </xs:attributeGroup>
  <xs:simpleType name="shared-form.attrs.formenctype.data">
    <xs:restriction base="xs:token">
      <xs:enumeration value="application/x-www-form-urlencoded"/>
      <xs:enumeration value="multipart/form-data"/>
      <xs:enumeration value="text/plain"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="shared-form.attrs.formmethod">
    <xs:attribute name="formmethod" use="required" type="xhtml:shared-form.attrs.formmethod.data"/>
  </xs:attributeGroup>
  <xs:simpleType name="shared-form.attrs.formmethod.data">
    <xs:restriction base="xs:token">
      <xs:enumeration value="get"/>
      <xs:enumeration value="post"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="shared-form.attrs.formtarget">
    <xs:attribute name="formtarget" use="required" type="common.data.browsing-context-or-keyword"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.formnovalidate">
    <xs:attribute name="formnovalidate" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="formnovalidate"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.pattern">
    <xs:attribute name="pattern" use="required" type="xhtml:form.data.pattern"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.template">
    <xs:attribute name="template" use="required" type="common.data.idref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.required">
    <xs:attribute name="required" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="required"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.placeholder">
    <xs:attribute name="placeholder" use="required" type="xhtml:form.data.stringwithoutlinebreaks"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.dirname">
    <xs:attribute name="dirname" use="required" type="xhtml:form.data.nonemptystring"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-form.attrs.minlength">
    <xs:attribute name="minlength" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-input-no-size.attrs">
    <xs:annotation>
      <xs:documentation>Shared attributes for &lt;input&gt;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="autocomplete" type="xs:string"/>
    <xs:attribute name="list" type="common.data.idref"/>
    <xs:attribute name="maxlength" type="common.data.integer.non-negative"/>
    <xs:attribute name="minlength" type="common.data.integer.non-negative"/>
    <xs:attribute name="pattern" type="xhtml:form.data.pattern"/>
    <xs:attribute name="placeholder" type="xhtml:form.data.stringwithoutlinebreaks"/>
    <xs:attribute name="readonly">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="readonly"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="required"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-input-no-list.attrs">
    <xs:attribute name="autocomplete" type="xs:string"/>
    <xs:attribute name="maxlength" type="common.data.integer.non-negative"/>
    <xs:attribute name="minlength" type="common.data.integer.non-negative"/>
    <xs:attribute name="pattern" type="xhtml:form.data.pattern"/>
    <xs:attribute name="placeholder" type="xhtml:form.data.stringwithoutlinebreaks"/>
    <xs:attribute name="readonly">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="readonly"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="required"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="size" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="shared-input.attrs">
    <xs:attributeGroup ref="xhtml:shared-input-no-size.attrs"/>
    <xs:attribute name="size" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.attrs.list">
    <xs:attribute name="list" use="required" type="common.data.idref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.attrs.step.float">
    <xs:attribute name="step" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.attrs.step.integer">
    <xs:attribute name="step" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.integer.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.attrs.multiple">
    <xs:attribute name="multiple" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="multiple"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.attrs.autocomplete.any">
    <xs:annotation>
      <xs:documentation>autocomplete</xs:documentation>
    </xs:annotation>
    <xs:attribute name="autocomplete" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.autocomplete.any">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="on"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="off"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.attrs.autocomplete">
    <xs:attribute name="autocomplete" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.input.attrs.capture">
    <xs:attribute name="capture" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="user"/>
          <xs:enumeration value="environment"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.image.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.image.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:group name="input.datetime-local.elem">
    <xs:annotation>
      <xs:documentation>Date and Time with No Time Zone Information: &lt;input type='datetime-local'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.datetime-local.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.datetime-local.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
    <xs:attributeGroup ref="xhtml:input.datetime-local.attrs.type"/>
    <xs:attribute name="min" type="xhtml:form.data.datetime-local"/>
    <xs:attribute name="max" type="xhtml:form.data.datetime-local"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.datetime-local">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.datetime-local.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="datetime-local"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.datetime-local.attrs.min">
    <xs:attribute name="min" use="required" type="xhtml:form.data.datetime-local"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.datetime-local.attrs.max">
    <xs:attribute name="max" use="required" type="xhtml:form.data.datetime-local"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.datetime-local.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.datetime-local">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.date.elem">
    <xs:annotation>
      <xs:documentation>Date: &lt;input type='date'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.date.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.date.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
    <xs:attributeGroup ref="xhtml:input.date.attrs.type"/>
    <xs:attribute name="min" type="xhtml:form.data.date"/>
    <xs:attribute name="max" type="xhtml:form.data.date"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.integer.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.date">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.date.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="date"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.date.attrs.min">
    <xs:attribute name="min" use="required" type="xhtml:form.data.date"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.date.attrs.max">
    <xs:attribute name="max" use="required" type="xhtml:form.data.date"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.date.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.date">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.month.elem">
    <xs:annotation>
      <xs:documentation>Year and Month: &lt;input type='month'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.month.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.month.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
    <xs:attributeGroup ref="xhtml:input.month.attrs.type"/>
    <xs:attribute name="min" type="xhtml:form.data.month"/>
    <xs:attribute name="max" type="xhtml:form.data.month"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.integer.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.month">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.month.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="month"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.month.attrs.min">
    <xs:attribute name="min" use="required" type="xhtml:form.data.month"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.month.attrs.max">
    <xs:attribute name="max" use="required" type="xhtml:form.data.month"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.month.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.month">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.time.elem">
    <xs:annotation>
      <xs:documentation>Time without Time Zone Information: &lt;input type='time'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.time.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.time.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
    <xs:attributeGroup ref="xhtml:input.time.attrs.type"/>
    <xs:attribute name="min" type="xhtml:form.data.time"/>
    <xs:attribute name="max" type="xhtml:form.data.time"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.time">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.time.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="time"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.time.attrs.min">
    <xs:attribute name="min" use="required" type="xhtml:form.data.time"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.time.attrs.max">
    <xs:attribute name="max" use="required" type="xhtml:form.data.time"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.time.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.time">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.week.elem">
    <xs:annotation>
      <xs:documentation>Year and Week: &lt;input type='week'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.week.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.week.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
    <xs:attributeGroup ref="xhtml:input.week.attrs.type"/>
    <xs:attribute name="min" type="xhtml:form.data.week"/>
    <xs:attribute name="max" type="xhtml:form.data.week"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.integer.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.week">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.week.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="week"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.week.attrs.min">
    <xs:attribute name="min" use="required" type="xhtml:form.data.week"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.week.attrs.max">
    <xs:attribute name="max" use="required" type="xhtml:form.data.week"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.week.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.week">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.number.elem">
    <xs:annotation>
      <xs:documentation>Number: &lt;input type='number'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.number.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.number.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input-no-size.attrs"/>
    <xs:attributeGroup ref="xhtml:input.number.attrs.type"/>
    <xs:attribute name="min" type="common.data.float"/>
    <xs:attribute name="max" type="common.data.float"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.spinbutton"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="spinbutton"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.number.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="number"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.number.attrs.min">
    <xs:attribute name="min" use="required" type="common.data.float"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.number.attrs.max">
    <xs:attribute name="max" use="required" type="common.data.float"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.number.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.range.elem">
    <xs:annotation>
      <xs:documentation>Imprecise Number: &lt;input type='range'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.range.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.range.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input-no-size.attrs"/>
    <xs:attributeGroup ref="xhtml:input.range.attrs.type"/>
    <xs:attribute name="min" type="common.data.float"/>
    <xs:attribute name="max" type="common.data.float"/>
    <xs:attribute name="step">
      <xs:simpleType>
        <xs:union memberTypes="common.data.float.positive">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="value" type="common.data.float"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.slider"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="slider"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.range.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="range"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.range.attrs.min">
    <xs:attribute name="min" use="required" type="common.data.float"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.range.attrs.max">
    <xs:attribute name="max" use="required" type="common.data.float"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.range.attrs.value">
    <xs:attribute name="value" use="required" type="common.data.float"/>
  </xs:attributeGroup>
  <xs:group name="input.email.elem">
    <xs:annotation>
      <xs:documentation>Email Address: &lt;input type='email'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.email.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.email.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input-no-list.attrs"/>
    <xs:attributeGroup ref="xhtml:input.email.attrs.type"/>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.emailaddresslist xhtml:form.data.emailaddress"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="multiple">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="multiple"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="combobox"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.textbox"/>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
    <xs:attribute name="list" type="common.data.idref"/>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.email.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="email"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.email.attrs.value.single">
    <xs:attribute name="value" use="required" type="xhtml:form.data.emailaddress"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.email.attrs.value.multiple">
    <xs:attribute name="value" use="required" type="xhtml:form.data.emailaddresslist"/>
  </xs:attributeGroup>
  <xs:group name="input.url.elem">
    <xs:annotation>
      <xs:documentation>IRI: &lt;input type='url'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.url.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.url.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input-no-list.attrs"/>
    <xs:attributeGroup ref="xhtml:input.url.attrs.type"/>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="combobox"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.textbox"/>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
    <xs:attribute name="list" type="common.data.idref"/>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.url.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="url"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.url.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="input.search.elem">
    <xs:annotation>
      <xs:documentation>Search: &lt;input type='search'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.search.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.search.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
    <xs:attributeGroup ref="xhtml:input.search.attrs.type"/>
    <xs:attribute name="value" type="xhtml:form.data.stringwithoutlinebreaks"/>
    <xs:attribute name="dirname" type="xhtml:form.data.nonemptystring"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.searchbox"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="searchbox"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.search.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="search"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.search.attrs.value">
    <xs:attribute name="value" use="required" type="xhtml:form.data.stringwithoutlinebreaks"/>
  </xs:attributeGroup>
  <xs:group name="input.tel.elem">
    <xs:annotation>
      <xs:documentation>Telephone Number: &lt;input type='tel'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.tel.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.tel.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:shared-input-no-list.attrs"/>
    <xs:attributeGroup ref="xhtml:input.tel.attrs.type"/>
    <xs:attribute name="value" type="xhtml:form.data.stringwithoutlinebreaks"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="combobox"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.textbox"/>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
    <xs:attribute name="list" type="common.data.idref"/>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.tel.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="tel"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.tel.attrs.value">
    <xs:attribute name="value" use="required" type="xhtml:form.data.stringwithoutlinebreaks"/>
  </xs:attributeGroup>
  <xs:group name="input.color.elem">
    <xs:annotation>
      <xs:documentation>Color: &lt;input type='color'&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="input">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:input.color.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="input.color.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:common-form.attrs"/>
    <xs:attributeGroup ref="xhtml:input.color.attrs.type"/>
    <xs:attribute name="value">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.color">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="xhtml:shared-input.attrs"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.color.attrs.type">
    <xs:attribute name="type" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="color"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="input.color.attrs.value">
    <xs:attribute name="value" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:form.data.color">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="output">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:output.inner">
          <xs:attributeGroup ref="xhtml:output.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="output.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="name" type="xhtml:form.data.nonemptystring"/>
    <xs:attributeGroup ref="common-form.attrs.form"/>
    <xs:attribute name="for" type="common.data.idrefs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.status"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-activedescendant" type="common.data.idref"/>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="output.attrs.for">
    <xs:attribute name="for" use="required" type="common.data.idrefs"/>
  </xs:attributeGroup>
  <xs:complexType name="output.inner" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
  <xs:attributeGroup name="textarea.attrs.wrap.hard">
    <xs:attribute name="wrap" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="hard"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="textarea.attrs.wrap.soft">
    <xs:attribute name="wrap" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="soft"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="textarea.attrs.placeholder">
    <xs:attribute name="placeholder" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <!-- REVISIT should the options in datalist be non-selectable? -->
  <xs:element name="datalist">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:datalist.inner">
          <xs:attributeGroup ref="xhtml:datalist.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="datalist.inner" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="xhtml:option"/>
      <xs:group ref="common.inner.phrasing"/>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="datalist.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.role.listbox"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="form.attrs.novalidate">
    <xs:attribute name="novalidate" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="novalidate"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="form.attrs.target">
    <xs:attribute name="target" use="required" type="common.data.browsing-context-or-keyword"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="form.attrs.autocomplete">
    <xs:attribute name="autocomplete" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="on"/>
          <xs:enumeration value="off"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <!-- REVISIT should this be case-insensitive in conforming XHTML documents? -->
</xs:schema>
