xsd/w3c/pls/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/XML/1998/namespace" xmlns:p="http://www.w3.org/2005/01/pronunciation-lexicon">
  <xs:import namespace="http://www.w3.org/2005/01/pronunciation-lexicon" schemaLocation="pls.xsd"/>
  <xs:attribute name="base" type="xs:anyURI"/>
  <xs:attribute name="lang"/>
  <xs:attribute name="id"/>
</xs:schema>
