xsd/epub-test/epub-svg-30/applications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-svg-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg11-inc.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:attributeGroup name="common.attrs.interact">
    <xs:annotation>
      <xs:documentation> RELAX NG Schema for HTML 5: Web Application Features              #</xs:documentation>
    </xs:annotation>
    <xs:attribute name="contenteditable">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="draggable">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="hidden">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="hidden"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="spellcheck">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="autocapitalize">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="off"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="on"/>
          <xs:enumeration value="sentences"/>
          <xs:enumeration value="words"/>
          <xs:enumeration value="characters"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.contenteditable">
    <xs:annotation>
      <xs:documentation>Editable Content: contenteditable</xs:documentation>
    </xs:annotation>
    <xs:attribute name="contenteditable" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.draggable">
    <xs:annotation>
      <xs:documentation>Draggable Element: draggable</xs:documentation>
    </xs:annotation>
    <xs:attribute name="draggable" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.hidden">
    <xs:annotation>
      <xs:documentation>Hidden Element: hidden</xs:documentation>
    </xs:annotation>
    <xs:attribute name="hidden" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="hidden"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.spellcheck">
    <xs:annotation>
      <xs:documentation>Spellchecking and grammar checking: spellcheck</xs:documentation>
    </xs:annotation>
    <xs:attribute name="spellcheck" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.autocapitalize">
    <xs:annotation>
      <xs:documentation>Autocapitalization</xs:documentation>
    </xs:annotation>
    <xs:attribute name="autocapitalize" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="off"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="on"/>
          <xs:enumeration value="sentences"/>
          <xs:enumeration value="words"/>
          <xs:enumeration value="characters"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="html.attrs.manifest">
    <xs:annotation>
      <xs:documentation>Application Cache: manifest</xs:documentation>
    </xs:annotation>
    <xs:attribute name="manifest" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:element name="progress">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:progress.inner">
          <xs:attributeGroup ref="xhtml:progress.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="progress.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="value" type="common.data.float.non-negative"/>
    <xs:attribute name="max" type="common.data.float.positive"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.progressbar"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="progressbar"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="progress.attrs.value">
    <xs:attribute name="value" use="required" type="common.data.float.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="progress.attrs.max">
    <xs:attribute name="max" use="required" type="common.data.float.positive"/>
  </xs:attributeGroup>
  <xs:complexType name="progress.inner" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
  <!-- Cannot enforce textContent format here -->
  <xs:element name="dialog">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:dialog.inner">
          <xs:attributeGroup ref="xhtml:dialog.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="dialog.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="open">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="open"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.dialog"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alertdialog"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="dialog.attrs.open">
    <xs:attribute name="open" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="open"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="dialog.inner" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
  <xs:element name="menu">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:menu.inner">
          <xs:attributeGroup ref="xhtml:menu.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="menu.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="directory"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.list"/>
    <xs:attribute name="aria-activedescendant" type="common.data.idref"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:complexType name="menu.inner">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="xhtml:mli.elem"/>
      <xs:group ref="common.elem.script-supporting"/>
    </xs:choice>
  </xs:complexType>
  <xs:group name="mli.elem">
    <xs:annotation>
      <xs:documentation>Toolbar item: &lt;li&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="li">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:mli.inner">
              <xs:attributeGroup ref="xhtml:mli.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="mli.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="mli.inner" mixed="true">
    <xs:group ref="common.inner.flow"/>
  </xs:complexType>
  <xs:group name="canvas.elem.flow">
    <xs:annotation>
      <xs:documentation>Canvas for Dynamic Graphics: &lt;canvas&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="canvas">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:canvas.inner.flow">
              <xs:attributeGroup ref="xhtml:canvas.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="canvas.elem.phrasing">
    <xs:sequence>
      <xs:element name="canvas">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:canvas.inner.phrasing">
              <xs:attributeGroup ref="xhtml:canvas.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="canvas.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="height" type="common.data.integer.non-negative"/>
    <xs:attribute name="width" type="common.data.integer.non-negative"/>
    <xs:attributeGroup ref="common.attrs.aria"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="canvas.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="canvas.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:complexType name="canvas.inner.flow" mixed="true">
    <xs:group ref="common.inner.transparent.flow"/>
  </xs:complexType>
  <xs:complexType name="canvas.inner.phrasing" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
  <xs:element name="details">
    <xs:complexType mixed="true">
      <xs:group ref="xhtml:details.inner"/>
      <xs:attributeGroup ref="xhtml:details.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="details.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="open">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="open"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.group"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="group"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="details.attrs.open">
    <xs:attribute name="open" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="open"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="details.inner">
    <xs:sequence>
      <xs:element ref="xhtml:summary"/>
      <xs:group ref="common.inner.flow"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="summary">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:summary.inner">
          <xs:attributeGroup ref="xhtml:summary.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="summary.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.button"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="button"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="summary.inner" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="common.inner.phrasing"/>
      <xs:element ref="xhtml:h1"/>
      <xs:element ref="xhtml:h2"/>
      <xs:element ref="xhtml:h3"/>
      <xs:element ref="xhtml:h4"/>
      <xs:element ref="xhtml:h5"/>
      <xs:element ref="xhtml:h6"/>
      <xs:element ref="xhtml:hgroup"/>
    </xs:choice>
  </xs:complexType>
</xs:schema>
