xsd/epub-test/epub-svg-30/embed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-svg-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg11-inc.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <xs:attributeGroup name="shared-img.attrs">
    <xs:annotation>
      <xs:documentation> RELAX NG Schema for HTML 5: Embedded Content                      #</xs:documentation>
    </xs:annotation>
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:img.attrs.src"/>
    <xs:attribute name="srcset" type="xs:string"/>
    <xs:attribute name="sizes" type="common.data.source.size.list"/>
    <xs:attribute name="generator-unable-to-provide-required-alt">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="height" type="common.data.integer.non-negative"/>
    <xs:attribute name="width" type="common.data.integer.non-negative"/>
    <xs:attribute name="usemap" type="common.data.hash-name"/>
    <xs:attribute name="ismap">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ismap"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="decoding">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="sync"/>
          <xs:enumeration value="async"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="loading">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="lazy"/>
          <xs:enumeration value="eager"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="border" type="common.data.zero"/>
    <xs:attribute name="referrerpolicy">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
          <xs:enumeration value="no-referrer"/>
          <xs:enumeration value="no-referrer-when-downgrade"/>
          <xs:enumeration value="same-origin"/>
          <xs:enumeration value="origin"/>
          <xs:enumeration value="strict-origin"/>
          <xs:enumeration value="origin-when-cross-origin"/>
          <xs:enumeration value="strict-origin-when-cross-origin"/>
          <xs:enumeration value="unsafe-url"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossorigin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="img">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:img.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="img.attrs">
    <xs:attributeGroup ref="xhtml:shared-img.attrs"/>
    <xs:attribute name="alt"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="button"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-cover"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="common.attrs.aria.implicit.img"/>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.srcset">
    <xs:attribute name="srcset" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.sizes">
    <xs:attribute name="sizes" use="required" type="common.data.source.size.list"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.alt">
    <xs:attribute name="alt" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.generator-unable-to-provide-required-alt">
    <xs:attribute name="generator-unable-to-provide-required-alt" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.usemap">
    <xs:attribute name="usemap" use="required" type="common.data.hash-name"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.ismap">
    <xs:attribute name="ismap" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="ismap"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.decoding">
    <xs:attribute name="decoding" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="sync"/>
          <xs:enumeration value="async"/>
          <xs:enumeration value="auto"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.loading">
    <xs:attribute name="loading" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="lazy"/>
          <xs:enumeration value="eager"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="img.attrs.border">
    <xs:attribute name="border" use="required" type="common.data.zero"/>
  </xs:attributeGroup>
  <xs:element name="picture">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="xhtml:picture.inner">
          <xs:attributeGroup ref="xhtml:picture.attrs"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="picture.attrs">
    <xs:attributeGroup ref="common.attrs"/>
  </xs:attributeGroup>
  <xs:complexType name="picture.inner">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="xhtml:source.picture.elem"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="xhtml:img"/>
        <xs:group ref="common.elem.script-supporting"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:group name="source.picture.elem">
    <xs:annotation>
      <xs:documentation>Picture source: &lt;source srcset&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="source">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:source.picture.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="source.picture.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="media" type="common.data.mediaquery"/>
    <xs:attributeGroup ref="xhtml:source.picture.attrs.srcset"/>
    <xs:attribute name="sizes" type="common.data.source.size.list"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="source.picture.attrs.media">
    <xs:attribute name="media" use="required" type="common.data.mediaquery"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="source.picture.attrs.srcset">
    <xs:attribute name="srcset" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="source.picture.attrs.sizes">
    <xs:attribute name="sizes" use="required" type="common.data.source.size.list"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="source.picture.attrs.type">
    <xs:attribute name="type" use="required" type="common.data.mimetype"/>
  </xs:attributeGroup>
  <xs:element name="embed">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:embed.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="embed.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="src" type="common.data.uri.non-empty"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
    <xs:attribute name="height" type="common.data.integer.non-negative"/>
    <xs:attribute name="width" type="common.data.integer.non-negative"/>
    <xs:attributeGroup ref="xhtml:embed.attrs.other"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="application"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="embed.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="embed.attrs.type">
    <xs:attribute name="type" use="required" type="common.data.mimetype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="embed.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="embed.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="embed.attrs.other">
    <xs:anyAttribute namespace="##local" processContents="skip"/>
  </xs:attributeGroup>
  <xs:group name="object.elem.flow">
    <xs:annotation>
      <xs:documentation>Generic Objects: &lt;object&gt;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:group ref="xhtml:object.inner.flow"/>
          <xs:attributeGroup ref="xhtml:object.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="object.elem.phrasing">
    <xs:sequence>
      <xs:element name="object">
        <xs:complexType mixed="true">
          <xs:group ref="xhtml:object.inner.phrasing"/>
          <xs:attributeGroup ref="xhtml:object.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="object.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="data" type="common.data.uri.non-empty"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
    <xs:attribute name="height" type="common.data.integer.non-negative"/>
    <xs:attribute name="width" type="common.data.integer.non-negative"/>
    <xs:attribute name="usemap" type="common.data.hash-name"/>
    <xs:attribute name="name" type="common.data.browsing-context"/>
    <xs:attributeGroup ref="common-form.attrs.form"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="application"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="img"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="object.attrs.data">
    <xs:attribute name="data" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="object.attrs.type">
    <xs:attribute name="type" use="required" type="common.data.mimetype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="object.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="object.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="object.attrs.usemap">
    <xs:attribute name="usemap" use="required" type="common.data.hash-name"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="object.attrs.name">
    <xs:attribute name="name" use="required" type="common.data.browsing-context"/>
  </xs:attributeGroup>
  <xs:group name="object.inner.flow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:param"/>
      <xs:group ref="common.inner.transparent.flow"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="object.inner.phrasing">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xhtml:param"/>
      <xs:group ref="common.inner.phrasing"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="param">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:param.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="param.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:param.attrs.name"/>
    <xs:attributeGroup ref="xhtml:param.attrs.value"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="param.attrs.name">
    <xs:attribute name="name" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="param.attrs.value">
    <xs:attribute name="value" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:element name="iframe">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:iframe.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="iframe.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attribute name="src" type="common.data.uri.non-empty"/>
    <xs:attribute name="srcdoc" type="xs:string"/>
    <xs:attribute name="name" type="common.data.browsing-context"/>
    <xs:attribute name="width" type="common.data.integer.non-negative"/>
    <xs:attribute name="height" type="common.data.integer.non-negative"/>
    <xs:attribute name="loading">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lazy"/>
          <xs:enumeration value="eager"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="sandbox" type="common.data.sandbox-allow-list"/>
    <xs:attribute name="allowfullscreen">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="allowfullscreen"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="allow" type="common.data.feature-policy"/>
    <xs:attribute name="referrerpolicy">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
          <xs:enumeration value="no-referrer"/>
          <xs:enumeration value="no-referrer-when-downgrade"/>
          <xs:enumeration value="same-origin"/>
          <xs:enumeration value="origin"/>
          <xs:enumeration value="strict-origin"/>
          <xs:enumeration value="origin-when-cross-origin"/>
          <xs:enumeration value="strict-origin-when-cross-origin"/>
          <xs:enumeration value="unsafe-url"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="application"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.src">
    <xs:attribute name="src" use="required" type="common.data.uri.non-empty"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.srcdoc">
    <xs:attribute name="srcdoc" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.name">
    <xs:attribute name="name" use="required" type="common.data.browsing-context"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.height">
    <xs:attribute name="height" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.loading">
    <xs:attribute name="loading" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="lazy"/>
          <xs:enumeration value="eager"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.width">
    <xs:attribute name="width" use="required" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.sandbox">
    <xs:attribute name="sandbox" use="required" type="common.data.sandbox-allow-list"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.allowfullscreen">
    <xs:attribute name="allowfullscreen" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="allowfullscreen"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="iframe.attrs.allow">
    <xs:attribute name="allow" use="required" type="common.data.feature-policy"/>
  </xs:attributeGroup>
  <xs:group name="map.elem.flow">
    <xs:annotation>
      <xs:documentation>
Image Maps</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="map">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:map.inner.flow">
              <xs:attributeGroup ref="xhtml:map.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="map.elem.phrasing">
    <xs:sequence>
      <xs:element name="map">
        <xs:complexType>
          <xs:complexContent>
            <xs:extension base="xhtml:map.inner.phrasing">
              <xs:attributeGroup ref="xhtml:map.attrs"/>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="map.attrs">
    <xs:attributeGroup ref="common.attrs"/>
    <xs:attributeGroup ref="xhtml:map.attrs.name"/>
  </xs:attributeGroup>
  <!-- REVISIT make id required in Schematron -->
  <xs:attributeGroup name="map.attrs.name">
    <xs:attribute name="name" use="required" type="common.data.name"/>
  </xs:attributeGroup>
  <xs:complexType name="map.inner.flow" mixed="true">
    <xs:group ref="common.inner.transparent.flow"/>
  </xs:complexType>
  <xs:complexType name="map.inner.phrasing" mixed="true">
    <xs:group ref="common.inner.phrasing"/>
  </xs:complexType>
  <xs:element name="area">
    <xs:complexType>
      <xs:attributeGroup ref="xhtml:area.attrs"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="area.attrs">
    <xs:attributeGroup ref="common.attrs.basic"/>
    <xs:attributeGroup ref="common.attrs.i18n"/>
    <xs:attributeGroup ref="common.attrs.present"/>
    <xs:attributeGroup ref="common.attrs.other"/>
    <xs:attribute name="download" type="xs:string"/>
    <xs:attribute name="alt"/>
    <xs:attribute name="href" type="common.data.uri"/>
    <xs:attribute name="target" type="common.data.browsing-context-or-keyword"/>
    <xs:attribute name="ping" type="common.data.uris.http.or.https"/>
    <xs:attribute name="rel" type="xs:string"/>
    <xs:attribute name="hreflang" type="common.data.langcode"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
    <xs:attributeGroup ref="xhtml:area.attrs.shape"/>
    <xs:attributeGroup ref="common.attrs.aria.role.link"/>
    <xs:attributeGroup ref="xhtml:common.attrs.microdata"/>
    <xs:attributeGroup ref="xhtml:common.attrs.rdfa.no-rel"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.alt">
    <xs:attribute name="alt" use="required"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.shape">
    <xs:attribute name="shape">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="rect"/>
          <xs:enumeration value="circle"/>
          <xs:enumeration value="poly"/>
          <xs:enumeration value="default"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="coords">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:datatype.html5.coords.rectangle xhtml:datatype.html5.coords.circle xhtml:datatype.html5.coords.poly"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.shape.rect">
    <xs:attribute name="shape" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="rect"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.coords.rect">
    <xs:attribute name="coords" use="required" type="xhtml:datatype.html5.coords.rectangle"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.shape.circle">
    <xs:attribute name="shape" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="circle"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.coords.circle">
    <xs:attribute name="coords" use="required" type="xhtml:datatype.html5.coords.circle"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.shape.poly">
    <xs:attribute name="shape" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="poly"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.coords.poly">
    <xs:attribute name="coords" use="required" type="xhtml:datatype.html5.coords.poly"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="area.attrs.shape.default">
    <xs:attribute name="shape" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="default"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="embedded.content.attrs.crossorigin">
    <xs:annotation>
      <xs:documentation>Attributes Common to Embedded Content</xs:documentation>
    </xs:annotation>
    <xs:attribute name="crossorigin" use="required">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
</xs:schema>
