xsd/epub-test/epub-svg-30/rdfa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/1999/xhtml" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:import schemaLocation="epub-svg-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2000/svg" schemaLocation="svg11-inc.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!-- ##################################################################### -->
  <!-- ##################################################################### -->
  <xs:simpleType name="common.data.rdfa.safecurie">
    <xs:annotation>
      <xs:documentation> RELAX NG Schema for HTML 5: RDFa 1.1 and RDFa Lite 1.1            #</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\[(([\i-[:]][\c-[:]]*)?:?)[^\s]*\]"/>
      <xs:minLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="common.data.rdfa.curie">
    <xs:restriction base="xs:string">
      <xs:pattern value="(([\i-[:]][\c-[:]]*)?:)[^\s]*"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="common.data.rdfa.term">
    <xs:restriction base="xs:string">
      <xs:pattern value="[\i-[:]][/\c-[:]]*"/>
    </xs:restriction>
  </xs:simpleType>
  <!-- ##################################################################### -->
  <!-- ##################################################################### -->
  <xs:attributeGroup name="common.attrs.rdfa">
    <xs:annotation>
      <xs:documentation> RDFa Attributes                                                   #</xs:documentation>
    </xs:annotation>
    <xs:attribute name="about">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="prefix">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="property">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeof">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vocab">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="content" type="xs:string"/>
    <xs:attribute name="datatype">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rel">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="resource">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rev">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="inlist" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.prefix">
    <xs:attribute name="prefix" use="required">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.property">
    <xs:attribute name="property" use="required">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.resource">
    <xs:attribute name="resource" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.typeof">
    <xs:attribute name="typeof" use="required">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.vocab">
    <xs:attribute name="vocab" use="required">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.about">
    <xs:attribute name="about" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.content">
    <xs:attribute name="content" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.datatype">
    <xs:attribute name="datatype" use="required">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.rel">
    <xs:attribute name="rel" use="required">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.rev">
    <xs:attribute name="rev" use="required">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.inlist">
    <xs:attribute name="inlist" use="required" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.no-rel">
    <xs:attribute name="about">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="prefix">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="property">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeof">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vocab">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="content" type="xs:string"/>
    <xs:attribute name="datatype">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="resource">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rev">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="inlist" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.no-rel-rev">
    <xs:attribute name="about">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="prefix">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="property">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeof">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vocab">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="content" type="xs:string"/>
    <xs:attribute name="datatype">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="resource">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="inlist" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="common.attrs.rdfa.no-content-noproperty">
    <xs:attribute name="about">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="prefix">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeof">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vocab">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="datatype">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="resource">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="inlist" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="link.rdfa.elem.metadata">
    <xs:sequence>
      <xs:element name="link">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:link.rdfa.attrs.metadata"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:group name="link.rdfa.elem.phrasing">
    <xs:sequence>
      <xs:element name="link">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:link.rdfa.attrs.phrasing"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="link.rdfa.attrs.metadata">
    <xs:attributeGroup ref="common.attrs.basic"/>
    <xs:attributeGroup ref="common.attrs.i18n"/>
    <xs:attributeGroup ref="common.attrs.present"/>
    <xs:attributeGroup ref="common.attrs.other"/>
    <xs:attribute name="property">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attributeGroup ref="xhtml:link.attrs.rel"/>
    <xs:attribute name="about">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="prefix">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeof">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vocab">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="content" type="xs:string"/>
    <xs:attribute name="datatype">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="resource">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="href" type="common.data.uri.non-empty"/>
    <xs:attribute name="rev">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="inlist" type="xs:string"/>
    <xs:attribute name="hreflang" type="common.data.langcode"/>
    <xs:attribute name="media" type="common.data.mediaquery"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
    <xs:attribute name="sizes">
      <xs:simpleType>
        <xs:union memberTypes="common.data.sizes">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="as">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value=""/>
          <xs:enumeration value="audio"/>
          <xs:enumeration value="audioworklet"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="embed"/>
          <xs:enumeration value="fetch"/>
          <xs:enumeration value="font"/>
          <xs:enumeration value="image"/>
          <xs:enumeration value="manifest"/>
          <xs:enumeration value="object"/>
          <xs:enumeration value="paintworklet"/>
          <xs:enumeration value="report"/>
          <xs:enumeration value="script"/>
          <xs:enumeration value="serviceworker"/>
          <xs:enumeration value="sharedworker"/>
          <xs:enumeration value="style"/>
          <xs:enumeration value="track"/>
          <xs:enumeration value="video"/>
          <xs:enumeration value="worker"/>
          <xs:enumeration value="xslt"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossorigin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="link"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="menuitem"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="link.rdfa.attrs.phrasing">
    <xs:attributeGroup ref="common.attrs.basic"/>
    <xs:attributeGroup ref="common.attrs.i18n"/>
    <xs:attributeGroup ref="common.attrs.present"/>
    <xs:attributeGroup ref="common.attrs.other"/>
    <xs:attributeGroup ref="xhtml:common.attrs.rdfa.property"/>
    <xs:attributeGroup ref="xhtml:link.attrs.rel"/>
    <xs:attribute name="resource">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="href" type="common.data.uri.non-empty"/>
    <xs:attribute name="about">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.safecurie xhtml:common.data.rdfa.curie common.data.uri"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="prefix">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="\s*([\i-[:]][\c-[:]]*: [^ ]+)(\s+[\i-[:]][\c-[:]]*: [^ ]+)*\s*"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="typeof">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="vocab">
      <xs:simpleType>
        <xs:union memberTypes="common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="content" type="xs:string"/>
    <xs:attribute name="datatype">
      <xs:simpleType>
        <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="rev">
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction>
              <xs:simpleType>
                <xs:list>
                  <xs:simpleType>
                    <xs:union memberTypes="xhtml:common.data.rdfa.term xhtml:common.data.rdfa.curie common.data.uri.absolute"/>
                  </xs:simpleType>
                </xs:list>
              </xs:simpleType>
              <xs:minLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value=""/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="inlist" type="xs:string"/>
    <xs:attribute name="hreflang" type="common.data.langcode"/>
    <xs:attribute name="media" type="common.data.mediaquery"/>
    <xs:attribute name="type" type="common.data.mimetype"/>
    <xs:attribute name="sizes">
      <xs:simpleType>
        <xs:union memberTypes="common.data.sizes">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="any"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="crossorigin">
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="anonymous"/>
          <xs:enumeration value="use-credentials"/>
          <xs:enumeration value=""/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="link"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="menuitem"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
  </xs:attributeGroup>
  <xs:group name="meta.property.elem">
    <xs:annotation>
      <xs:documentation>&lt;meta property=foo content=bar&gt; in head ("name" attribute optional)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="meta">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:meta.property.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="meta.property.attrs">
    <xs:attributeGroup ref="common.attrs.basic"/>
    <xs:attributeGroup ref="common.attrs.i18n"/>
    <xs:attributeGroup ref="common.attrs.present"/>
    <xs:attributeGroup ref="common.attrs.other"/>
    <xs:attribute name="name" type="xhtml:datatype.string.nonempty"/>
    <xs:attributeGroup ref="xhtml:common.attrs.rdfa.property"/>
    <xs:attributeGroup ref="xhtml:meta.name.attrs.content"/>
    <xs:attributeGroup ref="xhtml:common.attrs.rdfa.no-content-noproperty"/>
  </xs:attributeGroup>
  <xs:group name="meta.property-no-name.elem">
    <xs:annotation>
      <xs:documentation>&lt;meta property=foo content=bar&gt; in body ("name" attribute disallowed)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="meta">
        <xs:complexType>
          <xs:attributeGroup ref="xhtml:meta.property-no-name.attrs"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="meta.property-no-name.attrs">
    <xs:attributeGroup ref="common.attrs.basic"/>
    <xs:attributeGroup ref="common.attrs.i18n"/>
    <xs:attributeGroup ref="common.attrs.present"/>
    <xs:attributeGroup ref="common.attrs.other"/>
    <xs:attributeGroup ref="xhtml:common.attrs.rdfa.property"/>
    <xs:attributeGroup ref="xhtml:meta.name.attrs.content"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="menuitem"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-expanded">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attributeGroup ref="xhtml:common.attrs.rdfa.no-content-noproperty"/>
  </xs:attributeGroup>
</xs:schema>
