xsd/epub-test/epub-svg-30/svg-text.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2000/svg" xmlns:xhtml="http://www.w3.org/1999/xhtml" xmlns:ssml="http://www.w3.org/2001/10/synthesis" xmlns:ev="http://www.w3.org/2001/xml-events" xmlns:mathml="http://www.w3.org/1998/Math/MathML" xmlns:epub="http://www.idpf.org/2007/ops" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg">
  <xs:include schemaLocation="svg-basic-text.xsd"/>
  <xs:import schemaLocation="epub-svg-30.xsd"/>
  <xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub.xsd"/>
  <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="epub-mathml3.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="epub-xhtml.xsd"/>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="svg-xlink-attrib.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/10/synthesis" schemaLocation="epub-ssml-attrs.xsd"/>
  <xs:import namespace="http://www.w3.org/2001/xml-events" schemaLocation="ev.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:simpleType name="BaselineShiftValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="FontSizeAdjustValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="GlyphOrientationHorizontalValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="GlyphOrientationVerticalValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="KerningValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="SpacingValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="TextDecorationValue.datatype">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="SVG.tspan.content" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="svg:tspan"/>
      <xs:element ref="svg:tref"/>
      <xs:element ref="svg:altGlyph"/>
      <xs:element ref="svg:animate"/>
      <xs:element ref="svg:set"/>
      <xs:element ref="svg:animateColor"/>
      <xs:element ref="svg:SVG.Description.class"/>
      <xs:element ref="svg:SVG.Hyperlink.class"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="tspan" substitutionGroup="svg:SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.tspan.content">
          <xs:attributeGroup ref="svg:attlist.tspan"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.tspan">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Conditional.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.TextContent.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Font.attrib"/>
    <xs:attributeGroup ref="SVG.Paint.attrib"/>
    <xs:attributeGroup ref="SVG.Color.attrib"/>
    <xs:attributeGroup ref="SVG.Opacity.attrib"/>
    <xs:attributeGroup ref="SVG.Graphics.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Clip.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Mask.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Filter.attrib"/>
    <xs:attributeGroup ref="SVG.GraphicalEvents.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Cursor.attrib"/>
    <xs:attributeGroup ref="SVG.External.attrib"/>
    <xs:attributeGroup ref="common.attrs.aria.implicit.group"/>
    <xs:attribute name="role">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="alert"/>
          <xs:enumeration value="alertdialog"/>
          <xs:enumeration value="application"/>
          <xs:enumeration value="article"/>
          <xs:enumeration value="banner"/>
          <xs:enumeration value="button"/>
          <xs:enumeration value="cell"/>
          <xs:enumeration value="checkbox"/>
          <xs:enumeration value="columnheader"/>
          <xs:enumeration value="combobox"/>
          <xs:enumeration value="complementary"/>
          <xs:enumeration value="contentinfo"/>
          <xs:enumeration value="definition"/>
          <xs:enumeration value="dialog"/>
          <xs:enumeration value="directory"/>
          <xs:enumeration value="document"/>
          <xs:enumeration value="feed"/>
          <xs:enumeration value="figure"/>
          <xs:enumeration value="form"/>
          <xs:enumeration value="grid"/>
          <xs:enumeration value="gridcell"/>
          <xs:enumeration value="group"/>
          <xs:enumeration value="graphics-document"/>
          <xs:enumeration value="graphics-object"/>
          <xs:enumeration value="graphics-symbol"/>
          <xs:enumeration value="heading"/>
          <xs:enumeration value="img"/>
          <xs:enumeration value="link"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="listbox"/>
          <xs:enumeration value="listitem"/>
          <xs:enumeration value="log"/>
          <xs:enumeration value="main"/>
          <xs:enumeration value="marquee"/>
          <xs:enumeration value="math"/>
          <xs:enumeration value="menu"/>
          <xs:enumeration value="menubar"/>
          <xs:enumeration value="menuitem"/>
          <xs:enumeration value="menuitemcheckbox"/>
          <xs:enumeration value="menuitemradio"/>
          <xs:enumeration value="navigation"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="note"/>
          <xs:enumeration value="option"/>
          <xs:enumeration value="presentation"/>
          <xs:enumeration value="progressbar"/>
          <xs:enumeration value="radio"/>
          <xs:enumeration value="radiogroup"/>
          <xs:enumeration value="region"/>
          <xs:enumeration value="row"/>
          <xs:enumeration value="rowgroup"/>
          <xs:enumeration value="rowheader"/>
          <xs:enumeration value="searchbox"/>
          <xs:enumeration value="scrollbar"/>
          <xs:enumeration value="search"/>
          <xs:enumeration value="separator"/>
          <xs:enumeration value="slider"/>
          <xs:enumeration value="spinbutton"/>
          <xs:enumeration value="status"/>
          <xs:enumeration value="switch"/>
          <xs:enumeration value="tab"/>
          <xs:enumeration value="table"/>
          <xs:enumeration value="tablist"/>
          <xs:enumeration value="tabpanel"/>
          <xs:enumeration value="term"/>
          <xs:enumeration value="textbox"/>
          <xs:enumeration value="timer"/>
          <xs:enumeration value="toolbar"/>
          <xs:enumeration value="tooltip"/>
          <xs:enumeration value="tree"/>
          <xs:enumeration value="treegrid"/>
          <xs:enumeration value="treeitem"/>
          <xs:enumeration value="doc-abstract"/>
          <xs:enumeration value="doc-acknowledgments"/>
          <xs:enumeration value="doc-afterword"/>
          <xs:enumeration value="doc-appendix"/>
          <xs:enumeration value="doc-backlink"/>
          <xs:enumeration value="doc-biblioentry"/>
          <xs:enumeration value="doc-bibliography"/>
          <xs:enumeration value="doc-biblioref"/>
          <xs:enumeration value="doc-chapter"/>
          <xs:enumeration value="doc-colophon"/>
          <xs:enumeration value="doc-conclusion"/>
          <xs:enumeration value="doc-cover"/>
          <xs:enumeration value="doc-credit"/>
          <xs:enumeration value="doc-credits"/>
          <xs:enumeration value="doc-dedication"/>
          <xs:enumeration value="doc-endnote"/>
          <xs:enumeration value="doc-endnotes"/>
          <xs:enumeration value="doc-epigraph"/>
          <xs:enumeration value="doc-epilogue"/>
          <xs:enumeration value="doc-errata"/>
          <xs:enumeration value="doc-example"/>
          <xs:enumeration value="doc-footnote"/>
          <xs:enumeration value="doc-foreword"/>
          <xs:enumeration value="doc-glossary"/>
          <xs:enumeration value="doc-glossref"/>
          <xs:enumeration value="doc-index"/>
          <xs:enumeration value="doc-introduction"/>
          <xs:enumeration value="doc-noteref"/>
          <xs:enumeration value="doc-notice"/>
          <xs:enumeration value="doc-pagebreak"/>
          <xs:enumeration value="doc-pagelist"/>
          <xs:enumeration value="doc-part"/>
          <xs:enumeration value="doc-preface"/>
          <xs:enumeration value="doc-prologue"/>
          <xs:enumeration value="doc-pullquote"/>
          <xs:enumeration value="doc-qna"/>
          <xs:enumeration value="doc-subtitle"/>
          <xs:enumeration value="doc-tip"/>
          <xs:enumeration value="doc-toc"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-modal">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-pressed">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowspan" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-checked">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="mixed"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-sort">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="ascending"/>
          <xs:enumeration value="descending"/>
          <xs:enumeration value="none"/>
          <xs:enumeration value="other"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-readonly">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-selected">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-required">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-autocomplete">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="inline"/>
          <xs:enumeration value="list"/>
          <xs:enumeration value="both"/>
          <xs:enumeration value="none"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-orientation">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="vertical"/>
          <xs:enumeration value="horizontal"/>
          <xs:enumeration value="undefined"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-level" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiselectable">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-colcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-rowcount" type="common.data.integer.positive"/>
    <xs:attribute name="aria-posinset" type="common.data.integer.positive"/>
    <xs:attribute name="aria-setsize" type="common.data.integer.non-negative"/>
    <xs:attribute name="aria-valuemax" type="common.data.float"/>
    <xs:attribute name="aria-valuemin" type="common.data.float"/>
    <xs:attribute name="aria-valuenow" type="common.data.float"/>
    <xs:attribute name="aria-valuetext" type="xs:string"/>
    <xs:attribute name="aria-colindex" type="common.data.integer.positive"/>
    <xs:attribute name="aria-multiline">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="true"/>
          <xs:enumeration value="false"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="aria-placeholder" type="xs:string"/>
    <xs:attribute name="x" type="svg:Coordinates.datatype"/>
    <xs:attribute name="y" type="svg:Coordinates.datatype"/>
    <xs:attribute name="dx" type="svg:Lengths.datatype"/>
    <xs:attribute name="dy" type="svg:Lengths.datatype"/>
    <xs:attribute name="rotate" type="svg:Numbers.datatype"/>
    <xs:attribute name="textLength" type="svg:Length.datatype"/>
    <xs:attribute name="lengthAdjust">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="spacing"/>
          <xs:enumeration value="spacingAndGlyphs"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="SVG.tref.content">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="svg:animate"/>
      <xs:element ref="svg:set"/>
      <xs:element ref="svg:animateColor"/>
      <xs:element ref="svg:SVG.Description.class"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="tref" substitutionGroup="svg:SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.tref.content">
          <xs:attributeGroup ref="svg:attlist.tref"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.tref">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Conditional.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.TextContent.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Font.attrib"/>
    <xs:attributeGroup ref="SVG.Paint.attrib"/>
    <xs:attributeGroup ref="SVG.Color.attrib"/>
    <xs:attributeGroup ref="SVG.Opacity.attrib"/>
    <xs:attributeGroup ref="SVG.Graphics.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Clip.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Mask.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Filter.attrib"/>
    <xs:attributeGroup ref="SVG.GraphicalEvents.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Cursor.attrib"/>
    <xs:attributeGroup ref="xlink:SVG.XLinkRequired.attrib"/>
    <xs:attributeGroup ref="SVG.External.attrib"/>
    <xs:attribute name="x" type="svg:Coordinates.datatype"/>
    <xs:attribute name="y" type="svg:Coordinates.datatype"/>
    <xs:attribute name="dx" type="svg:Lengths.datatype"/>
    <xs:attribute name="dy" type="svg:Lengths.datatype"/>
    <xs:attribute name="rotate" type="svg:Numbers.datatype"/>
    <xs:attribute name="textLength" type="svg:Length.datatype"/>
    <xs:attribute name="lengthAdjust">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="spacing"/>
          <xs:enumeration value="spacingAndGlyphs"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="SVG.textPath.content" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="svg:tspan"/>
      <xs:element ref="svg:tref"/>
      <xs:element ref="svg:altGlyph"/>
      <xs:element ref="svg:animate"/>
      <xs:element ref="svg:set"/>
      <xs:element ref="svg:animateColor"/>
      <xs:element ref="svg:SVG.Description.class"/>
      <xs:element ref="svg:SVG.Hyperlink.class"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="textPath" substitutionGroup="svg:SVG.TextContent.class">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.textPath.content">
          <xs:attributeGroup ref="svg:attlist.textPath"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.textPath">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Conditional.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Style.attrib"/>
    <xs:attributeGroup ref="svg:SVG.TextContent.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Font.attrib"/>
    <xs:attributeGroup ref="SVG.Paint.attrib"/>
    <xs:attributeGroup ref="SVG.Color.attrib"/>
    <xs:attributeGroup ref="SVG.Opacity.attrib"/>
    <xs:attributeGroup ref="SVG.Graphics.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Clip.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Mask.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Filter.attrib"/>
    <xs:attributeGroup ref="SVG.GraphicalEvents.attrib"/>
    <xs:attributeGroup ref="svg:SVG.Cursor.attrib"/>
    <xs:attributeGroup ref="xlink:SVG.XLinkRequired.attrib"/>
    <xs:attributeGroup ref="SVG.External.attrib"/>
    <xs:attribute name="startOffset" type="svg:Length.datatype"/>
    <xs:attribute name="textLength" type="svg:Length.datatype"/>
    <xs:attribute name="lengthAdjust">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="spacing"/>
          <xs:enumeration value="spacingAndGlyphs"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="method">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="align"/>
          <xs:enumeration value="stretch"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="spacing">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="auto"/>
          <xs:enumeration value="exact"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:complexType name="SVG.altGlyphItem.content">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="svg:glyphRef"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="altGlyphItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="svg:SVG.altGlyphItem.content">
          <xs:attributeGroup ref="svg:attlist.altGlyphItem"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="attlist.altGlyphItem">
    <xs:attributeGroup ref="SVG.Core.attrib"/>
  </xs:attributeGroup>
</xs:schema>
