xsd/epub-test_modified/30/package-30/package-30.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.idpf.org/2007/opf" xmlns:opf="http://www.idpf.org/2007/opf" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:epub="http://www.idpf.org/2007/ops">
	<xs:include schemaLocation="datatypes.xsd"/>
	<xs:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="dc.xsd"/>
	<xs:import namespace="http://www.idpf.org/2007/ops" schemaLocation="epub-prefix-attr.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
	<xs:element name="package">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="opf:opf.package.content">
					<xs:attributeGroup ref="opf:opf.package.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.package.attlist">
		<xs:attributeGroup ref="opf:opf.version.attr"/>
		<xs:attributeGroup ref="opf:opf.unique.identifier.attr"/>
		<xs:attribute name="id" type="opf:datatype.ID"/>
		<xs:attribute name="prefix"/>
		<xs:attributeGroup ref="opf:opf.i18n.attrs"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.version.attr">
		<xs:attribute name="version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="3.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.unique.identifier.attr">
		<xs:attribute name="unique-identifier" use="required" type="opf:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:complexType name="opf.package.content">
		<xs:sequence>
			<xs:group ref="opf:opf.metadata"/>
			<xs:element ref="opf:manifest"/>
			<xs:element ref="opf:spine"/>
			<xs:element minOccurs="0" ref="opf:guide"/>
			<xs:element minOccurs="0" ref="opf:bindings"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" ref="opf:collection"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="opf.metadata">
		<xs:sequence>
			<xs:element name="metadata">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="opf:opf.metadata.content">
							<xs:attribute name="id" type="opf:datatype.ID"/>
							<xs:attributeGroup ref="opf:opf.i18n.attrs"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="opf.metadata.content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="opf:opf.dc.elems"/>
			<!-- Modification from here -->
			<xs:sequence>
				<xs:element name="meta">
					<xs:complexType>
						<xs:simpleContent>
							<xs:restriction base="xs:anyType">
								<xs:simpleType>
									<xs:union memberTypes="opf:opf.epub3.meta.content">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:length value="0"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:union>
								</xs:simpleType>
								<xs:attribute name="property" type="opf:datatype.property"/>
								<xs:attribute name="refines" type="opf:datatype.URI"/>
								<xs:attribute name="id" type="opf:datatype.ID"/>
								<xs:attribute name="scheme" type="opf:datatype.property"/>
								<xs:attributeGroup ref="opf:opf.i18n.attrs"/>
								<xs:attribute name="name"/>
								<xs:attribute name="content"/>
							</xs:restriction>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<!-- To here -->
			<xs:group ref="opf:opf.link"/>
		</xs:choice>
	</xs:complexType>

	<xs:simpleType name="opf.epub3.meta.content">
		<xs:restriction base="opf:datatype.string.nonempty"/>
	</xs:simpleType>
	<xs:attributeGroup name="opf.epub3.meta.content">
		<xs:attributeGroup ref="opf:opf.property.attr"/>
		<xs:attribute name="refines" type="opf:datatype.URI"/>
		<xs:attribute name="id" type="opf:datatype.ID"/>
		<xs:attribute name="scheme" type="opf:datatype.property"/>
		<xs:attributeGroup ref="opf:opf.i18n.attrs"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.epub2.meta.content">
		<xs:attribute name="name" use="required"/>
		<xs:attribute name="content" use="required"/>
	</xs:attributeGroup>
	<!-- legacy -->
	<xs:group name="opf.link">
		<xs:sequence>
			<xs:element name="link">
				<xs:complexType>
					<xs:attributeGroup ref="opf:opf.href.attr"/>
					<xs:attributeGroup ref="opf:opf.rel.attr"/>
					<xs:attribute name="id" type="opf:datatype.ID"/>
					<xs:attribute name="refines" type="opf:datatype.URI"/>
					<xs:attribute name="media-type" type="opf:datatype.mimetype"/>
					<xs:attribute name="properties" type="opf:datatype.properties"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="opf.property.attr">
		<xs:attribute name="property" use="required" type="opf:datatype.property"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.rel.attr">
		<xs:attribute name="rel" use="required" type="opf:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.scheme.attr">
		<xs:attribute name="scheme" use="required" type="opf:datatype.property"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.refines.attr">
		<xs:attribute name="refines" use="required" type="opf:datatype.URI"/>
	</xs:attributeGroup>
	<xs:group name="opf.dc.elems">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dc:identifier"/>
				<xs:element ref="dc:title"/>
				<xs:element ref="dc:language"/>
				<xs:element ref="dc:date"/>
				<xs:element ref="dc:source"/>
				<xs:element ref="dc:type"/>
				<xs:element ref="dc:format"/>
				<xs:element ref="dc:creator"/>
				<xs:element ref="dc:subject"/>
				<xs:element ref="dc:description"/>
				<xs:element ref="dc:publisher"/>
				<xs:element ref="dc:contributor"/>
				<xs:element ref="dc:relation"/>
				<xs:element ref="dc:coverage"/>
				<xs:element ref="dc:rights"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="opf.dc.attlist">
		<xs:attribute name="id" type="opf:datatype.ID"/>
		<xs:attributeGroup ref="opf:opf.i18n.attrs"/>
	</xs:attributeGroup>
	<xs:element name="manifest">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="opf:opf.manifest.content">
					<xs:attributeGroup ref="opf:opf.manifest.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.manifest.attlist">
		<xs:attribute name="id" type="opf:datatype.ID"/>
	</xs:attributeGroup>
	<xs:complexType name="opf.manifest.content">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="opf:item"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="item">
		<xs:complexType>
			<xs:attributeGroup ref="opf:opf.item.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.item.attlist">
		<xs:attributeGroup ref="opf:opf.id.attr"/>
		<xs:attributeGroup ref="opf:opf.href.attr"/>
		<xs:attributeGroup ref="opf:opf.media-type.attr"/>
		<xs:attribute name="fallback" type="opf:datatype.IDREF"/>
		<xs:attribute name="media-overlay" type="opf:datatype.IDREF"/>
		<xs:attribute name="properties" type="opf:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.fallback.attr">
		<xs:attribute name="fallback" use="required" type="opf:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.media-overlay.attr">
		<xs:attribute name="media-overlay" use="required" type="opf:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.properties.attr">
		<xs:attribute name="properties" use="required" type="opf:datatype.properties"/>
	</xs:attributeGroup>
	<xs:element name="spine">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="opf:opf.spine.content">
					<xs:attributeGroup ref="opf:opf.spine.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.spine.attlist">
		<xs:attribute name="id" type="opf:datatype.ID"/>
		<xs:attribute name="toc" type="opf:datatype.IDREF"/>
		<xs:attribute name="page-progression-direction">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
					<xs:enumeration value="default"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.spine.toc.attr">
		<xs:attribute name="toc" use="required" type="opf:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.ppd.attr">
		<xs:attribute name="page-progression-direction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
					<xs:enumeration value="default"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:complexType name="opf.spine.content">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" ref="opf:itemref"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="itemref">
		<xs:complexType>
			<xs:attributeGroup ref="opf:opf.itemref.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.itemref.attlist">
		<xs:attributeGroup ref="opf:opf.itemref.idref.attr"/>
		<xs:attribute name="linear">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="id" type="opf:datatype.ID"/>
		<xs:attribute name="properties" type="opf:datatype.properties"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.itemref.idref.attr">
		<xs:attribute name="idref" use="required" type="opf:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.itemref.linear.attr">
		<xs:attribute name="linear" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="yes"/>
					<xs:enumeration value="no"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="guide">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="opf:reference"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:attributeGroup ref="opf:opf.href.attr"/>
			<xs:attribute name="type" use="required"/>
			<xs:attribute name="title"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="bindings">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" ref="opf:mediaType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mediaType">
		<xs:complexType>
			<xs:attributeGroup ref="opf:opf.bindings.mediaType.attlist"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.bindings.mediaType.attlist">
		<xs:attributeGroup ref="opf:opf.media-type.attr"/>
		<xs:attribute name="handler" use="required" type="opf:datatype.IDREF"/>
	</xs:attributeGroup>
	<xs:element name="collection">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="opf:opf.collection.content">
					<xs:attributeGroup ref="opf:opf.collection.attlist"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="opf.collection.attlist">
		<xs:attribute name="id" type="opf:datatype.ID"/>
		<xs:attribute name="dir">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute ref="xml:lang"/>
		<xs:attributeGroup ref="opf:opf.collection.role.attr"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.collection.role.attr">
		<xs:attribute name="role" use="required" type="opf:datatype.space.separated.tokens"/>
	</xs:attributeGroup>
	<xs:complexType name="opf.collection.content">
		<xs:sequence>
			<xs:group minOccurs="0" ref="opf:opf.collection.metadata"/>
			<!-- Not perfect from here -->
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="opf:collection"/>
				<xs:group minOccurs="0" maxOccurs="unbounded" ref="opf:opf.collection.link"/>
			</xs:sequence>
			<!-- To here -->
		</xs:sequence>
	</xs:complexType>
	<xs:group name="opf.collection.metadata">
		<xs:sequence>
			<xs:element name="metadata">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="opf:opf.collection.metadata.content">
							<xs:attribute name="id" type="opf:datatype.ID"/>
							<xs:attributeGroup ref="opf:opf.i18n.attrs"/>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="opf.collection.metadata.content">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:group ref="opf:opf.collection.dc.elems"/>
			<xs:group ref="opf:opf.collection.meta"/>
			<xs:group ref="opf:opf.link"/>
		</xs:choice>
	</xs:complexType>
	<xs:group name="opf.collection.dc.elems">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="dc:identifier"/>
				<xs:element ref="dc:title"/>
				<xs:element ref="dc:language"/>
				<xs:element ref="dc:date"/>
				<xs:element ref="dc:source"/>
				<xs:element ref="dc:type"/>
				<xs:element ref="dc:format"/>
				<xs:element ref="dc:creator"/>
				<xs:element ref="dc:subject"/>
				<xs:element ref="dc:description"/>
				<xs:element ref="dc:publisher"/>
				<xs:element ref="dc:contributor"/>
				<xs:element ref="dc:relation"/>
				<xs:element ref="dc:coverage"/>
				<xs:element ref="dc:rights"/>
			</xs:choice>
		</xs:sequence>
	</xs:group>
	<xs:group name="opf.collection.meta">
		<xs:sequence>
			<xs:element name="meta">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="opf:opf.epub3.meta.content">
							<xs:attributeGroup ref="opf:opf.epub3.meta.content"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="opf.collection.link">
		<xs:sequence>
			<xs:element name="link">
				<xs:complexType>
					<xs:attributeGroup ref="opf:opf.href.attr"/>
					<xs:attribute name="rel" type="opf:datatype.properties"/>
					<xs:attribute name="id" type="opf:datatype.ID"/>
					<xs:attribute name="media-type" type="opf:datatype.mimetype"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:attributeGroup name="opf.media-type.attr">
		<xs:attribute name="media-type" use="required" type="opf:datatype.mimetype"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.href.attr">
		<xs:attribute name="href" use="required" type="opf:datatype.URI"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.id.attr">
		<xs:attribute name="id" use="required" type="opf:datatype.ID"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.i18n.attrs">
		<xs:attribute ref="xml:lang"/>
		<xs:attribute name="dir">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.xml.lang.attr">
		<xs:attribute ref="xml:lang" use="required"/>
	</xs:attributeGroup>
	<xs:attributeGroup name="opf.dir.attr">
		<xs:attribute name="dir" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="ltr"/>
					<xs:enumeration value="rtl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
